body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, th, td {
    font-family: "Apple SD Gothic Neo", "Noto Sans CJK KR", "Malgun Gothic", "MalgunGothic" !important;
}

/*****************/
.carousel-indicators li {
	display: none;
}
.carousel-indicators .active {
	background-color: rgba(255,255,255,0.40)
}
.custom_nav {
	position: fixed;
	z-index: 1300;
	height: 44px;
    background-color: #FFF;
    width: 100%;
	outline: 1px solid #ddd;
}
.custom_nav.custom_nav_event {
	height: 84px;
}
.custom_ic {
	height: 40px;
	width: 40px;
	cursor: pointer;
	margin: 2px;
	text-align: center;
	line-height: 40px;
	display: inline-block;
}
.custom_ic img {
	width: 18px;
	height: 18px;
}
.ic_sign, .ic_cart {
	float: right;
}
.custom_nav-logo {
	height: 40px;
    margin-top: 2px;
    margin-bottom: 2px;
    position: absolute;
    left: 50%;
    margin-left: -52px;
}

/*****************/

body {
	cursor: default;
}
.cgrey {
	background-color: #EEEEEE;
}

.col-xs-6 {
	padding-right: 3px;
	padding-left: 0px;
}

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
	position: relative;
	top: 44px;
}

.phrase-catch, .subphrase-catch {
	color: #898989;
	text-align: center;
}
.phrase-catch {
	height: 40px;
    line-height: 40px;
    font-size: 20px;
    margin-top: 10px;
}
.subphrase-catch {
	height: 36px;
    line-height: 18px;
    font-size: 13px;
    margin-bottom: 16px;
}
.phrase-good-wrapper {
	text-align: center;
    margin: 0 auto;
}
.phrase-logo {
	width: 40%;
}
.phrase-good, .subphrase-good {
	text-align: center;
	color: #898989;
}
.phrase-good {
	line-height: 30px;
    height: 30px;
    font-size: 20px;
    border-left: 1px solid #898989;
    border-right: 1px solid #898989;
    margin-top: 5px;
    margin-bottom: 5px;
}
.subphrase-good {
	font-size: 12px;
    height: 30px;
    line-height: 16px;
    margin-bottom: 14px;
}
.goods_date_box {
	background-color: #FFF;
}

.box_hover {
	background-color: #FFF;
	border-top: 2px solid #FFF;
	cursor: pointer;
	margin-top: 5px;
	text-align: center;
}
.box_hover:hover {
	border-top: 2px solid #90312B;
}
.box_image {
	width: 90px;
	height: 55px;
}
.box_hover p {
	text-align: center;
    font-size: 10px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 0px;
}
.date-card {
	margin-bottom: 6px;
	width: 9%;
}
.date-card.front {
	margin-left: 4%;
}
.date-card.middle {
	margin-left: 1%
}
.date-card.last {
	margin-right: 4%
}
.date-card-after {
	font-size: 10px;
}


.simage {
	width: 100%;
	height: auto;
	cursor: pointer;
}
.sname, .sweight, .sprice {
	text-align: center;
}
.sname {
	font-size: 13px;
}
.sweight {
	font-size: 12px;
}
.sprice {
	font-size: 16px;
	color: #90312B;
}
.swrapper{
	width: 370px;
	height: 280px;
	background-color: rgba(51,51,51,0.7);
	position: absolute;
	bottom: 100px;
	display: none;
}
.swrapper div {
	position: absolute;
}

.soption-wrapper {
	width: 230px;
	height: 120px;
	left: 70px;
	margin-top: 30px;
}
.soption-wrapper span {
	height: 30px;
	width: 30px;
	line-height: 30px;
	color: #FFF;
}
.soption-wrapper div {
	width: 184px;
	height: 120px;
	right: 0px;
	top: 0px;
}
.soption-wrapper div div {
	position: relative;
	height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	outline: 1px solid #FFF;
	color: #FFF;
	line-height: 20px;
	font-size: 12px;
	padding-left: 10px;
	cursor: pointer;
}
.soption-wrapper div div:hover {
	background-color: #FFF;
	color: #000;
}

.squantity-wrapper {
	width: 230px;
	height: 30px;
	bottom: 100px;
	left: 70px;
	line-height: 30px;
	color: #FFF;
}
.squantity-wrapper span {
	position: absolute;
	right: 0px;
}
.squantity-more, .squantity-less, .squantity-count{
	outline: 1px solid #FFF;
	width: 30px;
	height: 22px;
	margin-top: -26px;
	line-height: 22px;
}
.squantity-more {
	left: 87px;
	text-align: center;
	cursor: pointer;
}
.squantity-less {
	left: 47px;
	text-align: center;
	cursor: pointer;
}
.squantity-count {
	background-color: #FFF;
	color: #000;
	right: 24px;
	text-align: center;
}

.sbutton-detail, .sbutton-cart {
	width: 110px;
	height: 50px;
	line-height: 50px;
	color: #FFF;
	bottom: 30px;
	text-align: center;
	cursor: pointer;
}
.sbutton-detail {
	background-color: #777;
	left: 70px;
}
.sbutton-cart {
	background-color: #90312B;
	right: 70px;
}
.stext {
	height: 65px;
	cursor: pointer;
}
.stext p {
	margin-bottom: 2px;
}


/**우측 로그인 사이드바**/
.sidebar-signin {
	z-index: 2000;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	pointer-events: all;
	
	/**position: fixed;
	width: 370px;
	height: 100%;
	border-left: 1px solid #E0E0E0;
	background-color: #FFF;
	right: 0px;
	z-index: 2000;
	display: none;**/
}

.signin_head {
	margin-top: 50px;
    text-align: center;
    height: 60px;
}
.signin_head img {
	width: 26px;
	height: 26px;
}
.signin_head span {
	color: #777;
	font-size: 16px;
	height: 20px;
	line-height: 20px;
	display: block;
    margin-top: 10px;
}
.signin_body {
	text-align: center;
	margin-top: 70px;
	margin-left: 70px;
	margin-right: 70px;
}
.signin_tail {
	margin-top: 60px;
    text-align: center;
    height: 160px;
}
.signin_input {
	width: 100%;
}
.sign_control {
	text-align: right;
}
.signin_body input {
	border: 0;
	border-bottom: 1px solid #CCC;
	margin-top: 15px;
	margin-bottom: 15px;
}
.findpw_btn, .signup_btn {
	cursor: pointer;
	background-color: #FFF;
	border: 0;
	margin-left: 5px;
	font-size: 12px;
	color: #555;
}
.signin_btn {
	width: 88px;
	height: 98px;
	cursor: pointer;
}



/**약관, 회원가입 다이어로그**/
.dialog_shadow {
	background-color: rgba(0,0,0,0.45);
	pointer-events: all;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 2100;
	display: none;
}
#dialog_privacy, #dialog_rule {
	z-index: 2101;
}
.dialog_popup {
	background-color: #FFF;
	border: 1px solid #E0E0E0;
	position: absolute;
}
.dialog_popup.rule{
	overflow: scroll;
	left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
}
.dialog_popup p {
	text-align: center;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}
.dialog_close-wrapper {
	height: 40px;
	text-align: right;
}
.dialog_close-wrapper img {
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.dialog_text-wrapper {
	width: 100%;
	height: calc(100% - 40px);
	overflow-y: scroll;
}



.dialog_content-wrapper {
	margin-left: 10px;
    margin-right: 10px;
}
.dialog-title {
	font-size: 16px;
	color: #555555;
}
.dialog-subtitle {
	margin-bottom: 30px;
	font-size: 14px;
	color: #555555;
}
.agree-wrapper {
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #999;
	font-weight: normal;
}
.agree-wrapper a {
	position: absolute;
	right: 10px;
	cursor: pointer;
}
.agree-wrapper label {
	font-size: 12px;
    font-weight: normal;
}
.agree-wrapper label input{
	margin-right: 10px;
}
.agree-wrapper a {
	font-size: 12px;
	color: #555555;
}
.agree-input-wrapper {
	margin-top: 50px;
}
.agree-input {
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-weight: normal;
	margin-bottom: 10px;
}
.agree-input input {
	position: absolute;
    left: 80px;
    border: 0;
    border-bottom: 1px solid #CCC;
    height: 30px;
	font-size: 12px;
    font-weight: normal;
    width: 110px;
}
.agree-input a {
	font-size: 12px;
    color: #555555;
    position: absolute;
    right: 10px;
}
#user_code {
	display: none;
}
.agree-btn {
	width: 110px;
    height: 40px;
    outline: 2px solid #90312B;
    text-align: center;
    color: #90312B;
    line-height: 40px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 40px;
	margin-bottom: 20px;
}
#user_code {
	width: 200px !important;
	margin-top: -30px;
}
.signin_sms {
}
.signin_info {
}
.signup-input {
	width: 100%;
    line-height: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
.signup-input input {
	    left: 100px;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    display: block;
    width: 80%;
    text-align: center;
    font-weight: normal;
    margin: 0 auto;
    border: 0;
    border-bottom: 1px solid #CCC;
}


/***** 카드 다이어로그 *****/
.card-input {
	margin-left: 24px;
	margin-right: 24px;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
}
.card-input input {
	padding-left: 15px;
    padding-right: 15px;
    width: 60%;
    margin-left: 10px;
    position: absolute;
    right: 24px;
    font-size: 12px;
    font-weight: normal;
}
.dialog_fit_noscroll {
	overflow: auto;
}
.card-description {
    height: 34px;
    width: 70%;
    text-align: center;
	position: absolute;
	top: 10px;
    right: 15%;
    left: 15%;
}
.card_register {
	display: inline-block;
    width: 100%;
    height: 40px;
    border: 0;
    text-align: center;
    background-color: #90312B;
    color: #FFF;
    position: absolute;
    bottom: 0px;
}
.card-detailimg {
	width: 290px;
}

/**** 상세조회 다이어로그 *****/

.record_wrapper {
	height: 200px;
}
.record_subtitle {
	height: 30px;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}
.write_review_box {
}
.record_address-wrapper, .record_payment-wrapper{
	height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
}
.record_address-wrapper div{
	float: right;
    width: 50%;
    text-align: left;
	font-weight: normal;
}
.record_payment-wrapper div{
	float: right;
    width: 100px;
    text-align: right;
	font-weight: normal;
}
.record_write_review-wrapper {
	display: none;
}
.record_write_review-wrapper img {
	width: 87px;
	height: 95px;
}
.payment-image {
	margin-top: 44px;
}
#record_status {
	color:#90312B;
}
.record_notice {
	height: 60px;
	margin-top: 80px;
    text-align: center;
    background-color: #CCC;
    font-weight: bold;
    padding: 10px;
	margin-left: -15px;
	margin-right: -15px;
	font-size: 12px;
}
.record_net {
	height: 30px;
}
#record_net {
	font-size: 16px;
    font-weight: bold;
    line-height: 30px;
	color:#90312B;
}
/**메뉴 사이드바**/
.sidebar-menu {
	z-index: 2000;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	pointer-events: all;
}
.menu_head {
	text-align: center;
    border-bottom: 1px solid #000;
    height: 44px;
    line-height: 44px;;
}
.menu_head img {
	margin: 3px;
}
.menu_body {
	height: calc(100% - 44px);
	width: 100%;
	overflow-y: scroll;
}
.menu_list {
	width: 100%;
}
.menu_item {
	height: 60px;
    padding: 10px 30px;
    line-height: 40px;
    font-size: 16px;
    border-bottom: 1px solid #CCC;
}
.menu_item a{
	color: #333;
}

/**장바구니 사이드바**/
.sidebar-cart {
	z-index: 2000;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	pointer-events: all;
}
.sidebar-content {
	position: fixed;
	width: 100%;
	height: 100%;
	border-left: 1px solid #E0E0E0;
	background-color: #FFF;
	right: 0px;
	pointer-events: all;
}
.cart_empty{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 40px;
	right: 0px;
	background-color: #FFF;
}
.cart_empty p {
	text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #777777;
}
.cart_empty_icon {
	margin-top: 140px;
	width: 100%;
	text-align: center;
}
.cart_empty_icon img {
	width: 48px;
	height: 48px;
}
.cart_empty .cart_empty_button {
	text-align: center;
    width: 120px;
    margin-left: calc(50% - 60px);
    display: block;
    background-color: #90312B;
    color: #FFFFFF;
    padding: 4px 7px;
    margin-top: 20px;
}
.cart_head {
	text-align: center;
	border-bottom: 2px solid #000;
	height: 40px;
	line-height: 40px;
}
.close_sidebar_m {
	width: 38px;
    position: absolute;
    left: 0px;
    height: 38px;
}
.cart_body {
	height: calc(100% - 240px);
	width: 100%;
	overflow-y: scroll;
}
.cart_tail {
	background-color: #DDD;
	position: absolute;
	width: 100%;
	height: 200px;
	bottom: 0px;
	border-top: 2px solid #000;
}
.cart_date {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #555;
}
.cart_date span {
	margin-left: 30px;
}
#cart_shippingdate {
	position: absolute;
	top: 0px;
	left: 80px;
	text-align: left;
	line-height: 40px;
}
.cart_date div {
	width: 30px;
	height: 30px;
	margin-top: 4px;
	outline: 1px solid #FFF;
	cursor: pointer;
	position: absolute;
	top: 0px;
	line-height: 30px;
	text-align: center;
}
#cart_prior {
	right: 64px;
}
#cart_next {
	right: 24px;
}
.cart_price {
	border-bottom: 1px solid #555;
    text-align: left;
    padding-left: 24px;
    height: 30px;
    line-height: 30px;
}
.cart_price span{
	text-align: right;
	padding-right: 4px;
	position: absolute;
	right: 20px;
}
#cart_echo {
	color:#90312B;
}
.cart_price.net {
	font-weight: bold;
}
.cart_purchase {
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #000;
	color: #FFF;
	cursor: pointer;
}
/***장바구니 항목****/
.cart_item {
	height: 100px;
	border-bottom: 2px solid #000;
}
.citem-name {
	border-bottom: 1px solid #EEE;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}
.citem-name span {
	width: 80%;
	text-align: left;
	display: inline-block
}
.citem-option {
	border-bottom: 1px solid #EEE;
	height: 20px;
	line-height: 20px;
	padding-left: 20px;
	font-size: 13px;
}
.citem-select {
	height: 40px;
	padding-left: 20px;
	line-height: 40px;
}
.citem_tag {
	display: inline-block;
	width: 30px;
	text-align: center;
}
.citem-quantity, .citem-price {
	height: 40px;
	line-height: 40px;
	text-align: right;
	display: inline-block;
}
.citem-quantity {
	width: 60px;
}
.citem-price {
	width: 110px;
}
.cart_less, .cart_more {
	display: inline-block;
	margin-left: 10px;
	width: 24px;
	height: 24px;
	outline: 1px solid #E0E0E0;
	cursor: pointer;
	text-align: center;
	line-height: 24px;
}
.cart_less {
	left: 148px;
}
.cart_more {
	left: 180px;
}
.citem-remove {
	width: 30px;
	height: 30px;
	outline: 1px solid #555;
	cursor: pointer;
}
.event_banner {
	width: 100%;
	height: auto;
}
.event_banner img{
	width: 100%;
}
/**** 축산물 조회 *****/
.tracking-box {
	height: 110px;
    width: 100%;
    background-color: #CCC;
    padding: 15px 8%;
}
.tracking-box div, .tracking-input {
	height: 40px;
    line-height: 40px;
    display: inline-block;
}
.tracking-title {
	width: 100%;
    font-size: 14px;
    text-align: center;
    height: 20px !important;
    line-height: 20px !important;
}
.tracking-input {
	width: 70%;
    background-color: #F9F9F9;
    font-size: 14px;
    border: 0;
    padding: 20px 20px;
    margin-top: 10px;
}
.tracking-btn {
	width: 28%;
    background-color: #90312B;
    font-size: 14px;
    color: #FFF;
    text-align: center;
}
/**** 푸터 ***/
.footer.cgrey {
	height: 230px;
	position: relative;
	top: 44px;
}
.footer-img {
	width: 100px;
	height: 150px;
	margin-top: 120px;
}
.footer-text {
	font-size: 12px;
	color: #595959;
	margin-top: 50px;
	text-align: center;
}
.footer-text a {
	cursor: pointer;
}





/**** 상품상세 상단메뉴 *****/
#detail_menu {
	height: 56px;
}
#detail_menu div {
	height: 56px;
}
.detail_arrow {
	width: 30px;
	height: 48px;
	display: inline-block;
	position: absolute;
}
.arrow_left {
	left: 0px;
    line-height: 56px;
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
	cursor: pointer;
}
.arrow_right {
	right: 0px;
	line-height: 56px;
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
	cursor: pointer;
}
.detail_menu_wrapper {
	width: calc(100% - 60px);
	height: 56px;
	line-height: 56px;
	text-align: center;
	margin-left: 30px;
	display: inline-block;
	position: absolute;
}
#detail_menu_pork_group, #detail_menu_chicken_group, #detail_menu_egg_group {
	width: 100%;
	height: 100%;
	display: none;
}
.detail_menu_pork_item, .detail_menu_egg_item {
	display: inline-block;
    line-height: 20px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
	cursor: pointer;
}
.detail_menu_chicken_item {
	display: inline-block;
    line-height: 20px;
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
	cursor: pointer;
}


/******* 상품상세 ******/

.detail_content-wrapper {
	top: 44px;
	margin-top: 30px;
}.detail_control-wrapper {
	position: fixed;
	bottom: 0px;
	background-color: rgba(0,0,0,0.60);
	z-index: 1001;
	width: 100%;
	height: 100%;
}
.detail_shadow_clicker {
	width: 100%;
    height: calc(100% - 350px);
}
.detail_floatbtn {
	background-color: #000;
	color: #FFF;
	height: 40px;
	text-align: center;
	position: fixed;
	bottom: 0px;
	z-index: 1000;
	width: 100%;
	line-height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.detail-main  {
	width: 555px;
	height: auto;
}
#detail-control {
	display: none;
}


.detail_control {
	outline: 2px solid #000;
	bottom: 0px;
    height: 350px;
    position: absolute;
    width: 100%;
	background-color: #FFF;
}
.detail_summary, .detail_option, .detail_quantity, .detail_date, .detail_button, .detail_about, .detail_shipment, .detail_shipping, .detail_refund, .detail_index{
	width: 100%;
	border-bottom: 2px solid #000;
}
.detail_price {
}
.detail_summary {
	height: 110px;
}
.detail_option, .detail_quantity, .detail_date, .detail_price, .detail_button {
	height: 40px;
}


.detail_summary-wrapper {
	padding: 20px 30px;
}

.detail_button {
	text-align: center;
	color: #FFF;
	background-color: #000;
	line-height: 40px;
	font-size: 16px;
	cursor: pointer;
}
.refund_detail {
	margin-left: 20px;
	margin-right: 20px;
}
.refund_info-wrapper {
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #CCC;
	margin-top: 10px;
}
.refund_info-wrapper #bank_user{
	width: 60px;
	text-align: center;
}
.refund_info-wrapper #bank_code{
	margin-left: 10px;
	width: 130px;
	text-align: center;
}
.refund-margin {
	margin-left: 20px;
    margin-right: 20px;
}
.refund_info-add {
	font-size: 12px;
	color: #555;
	margin-top: 10px;
	height: 24px;
	line-height: 24px;
}
.refund_info-add.refund-margin {
	margin-bottom: 10px;
}
#detail_name, #detail_standardweight, #detail_standardprice {
	display: block;
}
#detail_name {
	font-size: 16px;
	font-weight: bold;
}
#detail_standardweight {
	font-size: 12px;
}
#detail_standardprice {
	font-size: 14px;
	font-weight: bold;
}
#detail_part {
	width: 75px;
	float: right;
	height: 75px;
	margin-right: 15px;
	margin-top: -80px;
}
.detail_tag {
	width: 100px;
	line-height: 40px;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	text-align: center;
}
#detail_quantity {
	display: inline-block;
	padding: 0px 30px 0px 30px;
	outline: 2px solid #999;
}
#detail_price {
	font-weight: bold;
}
.detail_minus, .detail_plus {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	outline: 2px solid #999;
	color: #999;
	width: 26px;
	text-align: center;
	float: right;
	margin-top: 6px;
	margin-right: 12px;
	cursor: pointer;
	padding-top: 2px;
    padding-bottom: 2px;
}
#detail_option {
	width: 60%;
}

.detail_more {
	height: 50px;
	line-height: 50px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 16px;
}
.detail_more div {
	padding: 10px;
	font-size: 14px;
}
#detail_about, #detail_shipment, #detail_shipping, #detail_refund {
	padding: 15px 30px;
	font-weight: normal;
	font-size: 12px;
}
.detail_refund {
	border-bottom: 0px;
}




/***** 결제 ******/
#payment-loader {
	width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    pointer-events: all;
    text-align: center;
    top: 0px;
    position: fixed;
    z-index: 3000;
    padding-top: 50%;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
}
.payment_left {
	padding: 0;
}
.payment_right {
	padding-left: 0px;
	padding-right: 0px;
}
.payment-mainimage {
	width: 100%;
}
.payment-mainimage-2 {
	width: 100%;
	margin-top: 20px;
}
.payment-mainimage-3 {
	width: 100%;
}
.payment_info-wrapper {
	border-bottom: 1px solid #CCC;
	padding-bottom: 40px;
	padding-left: 20px;
    padding-right: 20px;
}
.payment_info-wrapper.last-wrapper {
	border: 0;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.payment_customer-wrapper {
	height: 30px;
	line-height: 30px;
}
#payment_customername, #payment_customerphone, #payment_customeremail {
	display: inline-block;
}
#payment_customername {
	width: 70px;
}
#payment_customerphone {
	text-align: center;
}
#payment_customeremail {
	text-align: center;
}
.payment_card_option{
	height: 50px;
	padding-left: 24px;
}
.card_tag {
	line-height: 50px;
	font-weight: bold;
	display: inline-block;
}
#card_option {
	width: 200px;
	background-color: #CCC;
}
.card_register_open {
	width: 80px;
	height: 30px;
	color: #FFF;
	background-color: #90312B;
}
.payment_address-wrapper {
}
.payment_address-choice, .payment_method-choice, .payment_direct_info, .payment_refund-choice{
	width: 120px;
	line-height: 30px;
	display: inline-block;
	font-weight: bold;
	margin-top: 14px;
	padding-left: 20px;
}
.payment_direct_info, .payment_direct_code {
	margin-top: 10px;
}
.payment_direct_code {
	font-size: 14px;
    line-height: 20px;
    padding-left: 20px;
    display: inline-block;
    margin-bottom: 20px;
}
.radio_choice {
	width: 300px;
	display: inline-block;
}
.radio_choice input {
	display: inline-block;
	margin-left: 20px;
	margin-right: 10px;
}
#get_tax {
	/**margin-left: 122px;**/
	margin-bottom: 20px;
}
.tax_input {
	border: 0;
	border-bottom: 1px solid #999;
	width: 260px;
	margin-left: 18px;
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
}
#saved_address, #input_address {
	display: none;
	margin-top: 10px;
}
#direct_method, #bank_refund, #company_own, #get_tax {
	display: none;
}

#order_name, #order_phone, .order_address-box {
	height: 30px;
	line-height: 30px;
	padding-left: 24px;
}

#order_postcode, #order_address, #order_room {
	display: inline-block;
	margin-right: 4px;
}
#new_name, #new_phone, #new_postcode, #new_address, #new_room {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-right: 20px;
	border: 0;
	border-bottom: 1px solid #999;
	margin-bottom: 10px;
}
#new_name {
	width: 100px;
}
#new_address, #new_room, #new_request{
	width: 100%;
}
#new_name, #new_postcode, #new_address, #new_room {
}
.mobile_payment_title {
	width: 100%;
	height: 40px;
	font-weight: bold;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	background-color: #CCC;
}
.order_request_box {
	margin-top: 100px;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 20px;
}
.order_request_box input{
	font-weight: normal;
	font-size: 14px;
	border: 0;
	border-bottom: 1px solid #999;
	height: 30px;
}
.findpost {
	border: 0;
	background-color: #FFF;
	font-weight: bold;
}
.payment_cart-list, .payment_shippingdate, .payment_point, .payment_price, .payment_net, .payment_action, .payment_coupon {
	width: 100%;
}
.payment_point .payment_price_detail, .payment_coupon {
	padding-top: 14px;
}
.payment_point.payment_mobile, .payment_coupon {
	height: 60px;
}
.payment_coupon_button {
	border: 0;
    text-align: center;
    background-color: #90312B;
    color: #FFF;
    padding: 4px 10px;
    width: 100px;
    height: 32px;
    float: right;
    margin-right: 12px;
}
.payment_box {
	border-left: 1px solid #CCC;
}
.citem-payment {
	float: right;
	margin-right: 24px;
	font-weight: bold;
}
.pay_item_border {
	border: 0;
}
.citem-option.pay_item_border {
	height: 20px;
	line-height: 20px;
}
.cart_item_pay {
	border: 0;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	height: 100px;
}
.card_register_m {
	background-color: #90312B;
	color: #FFF;
	width: 120px;
	float: right;
	border: 0;
	margin-right: 20px;
}
.payment_shippingdate {
	background-color: #333;
	color: #FFF;
	height: 65px;
	line-height: 65px;
	font-size: 16px;
	text-align: left;
	font-weight: bold;
	padding-left: 24px;
}
.payment_priorday, .payment_nextday, #payment_shippingdate {
	display: inline-block;
	float: right;
}
.payment_priorday, .payment_nextday {
	cursor: pointer;
	width: 20px;
}
#payment_shippingdate {
	width: 130px;
}
.payment_subtitle {
	font-weight: bold;
	font-size: 16px;
	margin-top: 20px;
	height: 40px;
	line-height: 40px;
}
.payment_point {
	border-bottom: 1px solid #CCC;
	padding-bottom: 20px;
}
.payment_price {
	margin-bottom: 20px;
}
.payment_pown {
	float: right;
}
#payment_pointown, #payment_pointUsed {
	width: 70px;
	text-align: right;
}
#payment_pointUsed {
	border: 0;
	border-bottom: 1px solid #CCC;
}
.payment_price_detail {
	padding-left: 24px;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
}
.payment_price_detail span {
	float: right;
	text-align: right;
	width: 130px;
	margin-right: 24px;
}
.payment_net {
	background-color: #333;
	color: #FFF;
	height: 65px;
	line-height: 65px;
	font-size: 16px;
	text-align: left;
	font-weight: bold;
	padding-left: 24px;
}
#payment_direct {
	color: #90312B;
}
#payment_net {
	float: right;
	margin-right: 15px;
	text-align: right;
}
.check_payment {
	height: 60px;
	line-height: 60px;
	padding-left: 24px;
}
.payment_button_wrapper {
	height: 200px;
	width: 100%;
	text-align: center;
	line-height: 200px;
}
#payment_button {
	width: 90px;
	height: 100px;
	cursor: pointer;
}





/****** 마이페이지 *******/
#btnCloseLayer {
	width: 30px;
	height: 30px;
}
#mypage_menu {
	height: 120px;
	border-bottom: 1px solid #CCC;
}
.mypage_logout_wrapper{
	text-align: right;
}
.mypage_logout_wrapper button {
	width: 75px;
    height: 30px;
    text-align: center;
    font-size: 12px;
	position: relative;
	color: white;
	background-color: #999;
	border: none;
	top: 10px;
	left: 10px;
	padding-top: 3px;
}
#mypage_welcome {
    font-size: 14px;
    height: 30px;
	position: relative;
	top: 15px;
    font-weight: bold;
    text-align: center;
}
.mypage_menu-wrapper {
	text-align: center;
	height: 30px;
	margin-top: 40px;
}
.mypage_menu-wrapper div {
	text-align: center;
	line-height: 30px;
	height: 30px;
	font-size: 14px;
	cursor: pointer;
	display: inline-block;
	width: 100px;
}
.mypage_menu_order {
	margin-right: 30px;
}
#mypage_submenu {
	position: relative;
	top: 44px;
}
#mypage_content {
	border-left: 1px solid #CCC;
	position: relative;
	top: 44px;
	min-height: 300px;
}
#mypage_order, #mypage_point, #mypage_coupon {
	margin-left: -15px;
    margin-right: -15px;
}
.mypage_submenu {
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #EEE;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}
.mypage_submenu_bottom {
	height: 250px;
}
.mypage_icon {
	width: 26px;
	height: 26px;
}
.mypage_title {
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	height: 30px;
	margin-top: 20px;
	text-align: center;
}
.table_select {
	cursor: pointer;
	color: #90312B;
	text-align: center !important;
}
.table_order_mobile {
	text-align: left !important;
}
#mypage_point_table, #mypage_card_table {
	font-size: 12px;
}

#mypage_order_table, #mypage_coupon_table {
	font-size: 11px;
}
#mypage_detail_table {
	font-size: 10px;
	margin-left: -15px;
	margin-right: -15px;
	    width: calc(100% + 30px);
    max-width: calc(100% + 30px);
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}
#mypage_order_table thead td, #mypage_point_table thead td, #mypage_card_table thead td, #mypage_detail_table thead td, #mypage_coupon_table thead td{
	vertical-align: bottom;
	text-align: center;
}
#mypage_order_table tbody td, #mypage_point_table tbody td, #mypage_card_table tbody td, #mypage_detail_table tbody td, #mypage_coupon_table tbody td{
	vertical-align: middle;
	text-align: center;
}
#mypage_coupon_table tbody td {
	vertical-align: middle;
	text-align: left;
}
#mypage_point, #mypage_card, #mypage_bank, #mypage_address, #mypage_detail, #mypage_code, #mypage_cms, #mypage_coupon{
	display: none;
}
.table_couponDate {
	display: block;
    border-top: dotted 1px #777;
}
.table_couponUsedDate {
	display: block;
	color: #90312b;
}
.table_minuspoint{
	color: #90312b;
}
.mypage_point-wrapper {
	height: 30px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 10px;
}

.mypage_point_unit {
	margin-left: 5px;
}
.mypage_point-wrapper div{
	display: inline-block;
}
#mypage_point_own {
	font-size: 20px;
	font-weight: bold;
	width: 130px;
	text-align: right;
	color: #90312b;
}
.mypage_point_text {
	font-size: 14px;
}
.mypage_card-wrapper {
	height: 30px;
	line-height: 30px;
}
.mypage_card-wrapper button {
	width: 80px;
    height: 30px;
    border: 0;
    text-align: center;
    float: right;
    right: 24px;
    background-color: #90312B;
    color: #FFF;
    line-height: 30px;
    font-size: 12px;
}

.mypage-save {
	left: 37.5%;
	position: relative;
	cursor: pointer;
	margin-bottom: 50px;
}

.mypage_bank-wrapper, .mypage_address-wrapper, .mypage_code-wrapper {
	width: 100%;
	position: relative;
	top: 30px;
}
.bank-input{
	margin-bottom: 50px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    display: block;
}
.bank-input input {
    display: inline-block;
    width: 100%;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    border-bottom: 1px solid #CCC;
}
.bank-button {
    width: 80px;
    height: 30px;
    margin-top: 10px;
    border: 0;
    text-align: center;
    float: right;
    right: 24px;
    background-color: #90312B;
    color: #FFF;
    font-size: 12px;
}
.code-input{
	margin-bottom: 50px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    display: block;
}
.code-input input {
    display: inline-block;
    width: 100%;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    border-bottom: 1px solid #CCC;
}
.code-mycode {
	margin-bottom: 50px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
#code-copy, #code-gene {
	background-color: #999;
    padding: 0px 10px;
    font-weight: bold;
    color: #FFF;
    width: 50%;
    text-align: center;
    margin-left: 25%;
}
#mypage_mycode {
	display: inline-block;
    text-align: center;
    width: 70%;
}
#mypage_addresspostcode {
	width: 30%;
}

#record_addresssum {
	width: 100%;
	position: relative;
	top: 10px;
	left: 10px;
}
.address-input {
	width: 100%;
    height: 60px;
    line-height: 30px;
    font-size: 10px;
    font-weight: bold;
}
.address-input input {
	background: white;
	display: inline-block;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    font-weight: normal;
    border: 0;
    border-bottom: 1px solid #CCC;
    width: 75%;
    margin-left: 10px;
}
.address-button {
	width: 100px;
    height: 30px;
    border: 0;
    text-align: center;
    float: right;
    right: 24px;
    background-color: #999;
    color: #FFF;
    font-size: 12px;
}

.address-button.postcode-button {
    float: right;
}



/******* 주문완료 ********/
.complete_title {
	text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 120px;
    height: 30px;
    line-height: 30px;
}
.complete_subtitle {
	text-align: center;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
	margin-bottom: 30px;
}
.complete_button_wrapper {
	text-align: center;
	margin-bottom: 120px;
}
.complete_button{
	width: 80px;
    height: 30px;
    border: 0;
    font-size: 12px;
    text-align: center;
    background-color: #90312B;
    color: #FFF;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}



/********* 이벤트 ********/
.nav_event {
	/**** display: none !important; ****/
}
.event_image-box {
	padding: 0px;
}
.event_image_review {
}
.event_image-wrapper-top {
	width: 100%;
    margin: 50px 0px 10px 0px;
	overflow: hidden;
}
.event_image-wrapper-button {
	width: 100%;
	margin: 20px 0px 20px 0px;
}
.event_banner_top {
	margin-left: calc(50% - 400px);
    height: 140px;
    width: 801px;
	background-image: url("/img/event/jyg-event-banner-mtop.jpg");
}
.event_banner_title {
	font-size: 16px;
	position: absolute;
    top: 100px;
    width: 100%;
	text-align: center;
}
.event_banner_text {
	font-size: 12px;
	position: absolute;
    top: 130px;
    width: 100%;
	text-align: center;
}
.event_image-wrapper {
	width: 100%;
    margin: 0px;
}
.event_image {
	width: 100%;
	margin-bottom: 10px;
}




.event-detailtop {
	width: 100%;
}
.event-detailbody {
	width: 100%;
}
/******* 고객센터 *****/
.support_wrapper {
	top: 44px;
    position: relative;
}
.support_content {
	border-left: 1px solid #CCC;
	min-height: 300px;
}
#support_ask, #support_notice, #support_faq {
	margin-left: -15px;
	margin-right: -15px;
}
#support_faq, #support_notice {
	display: none;
} 
#support_ask {
	min-height: 420px;
}
#support_menu {
	height: 100px;
	border-bottom: 1px solid #CCC;
}
#support_notice {
	display: none;
}
#support_welcome {
	font-size: 14px;
    line-height: 30px;
    height: 30px;
    font-weight: bold;
    text-align: center;
	margin-top: 30px;
}
.support_menu-wrapper {
	text-align: center;
    height: 30px;
    margin-top: 10px;
}
.support_menu-wrapper div {
	text-align: center;
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    width: 100px;
}
.support_menu_notice {
	margin-right: 30px;
}
/** 임시조치 **/
.support_menu_notice {
	display: none;
}
.support_menu_faq {
	display: none;
}
#support_faq_category {
	margin-left: 10px;
}
.support_faq-wrapper {
	width: 100%;
}
.support_faq-question {
}
.support_faq-question span {
	margin-left: 10px;
    line-height: 20px;
    display: inline-block;
    width: calc(100% - 100px);
    margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
}
.support_faq-icon {
	width: 30px;
    height: 30px;
    margin-left: 10px;
    vertical-align: top;
    margin-top: 5px;
}
.support_faq-plus, .support_faq-minus {
	float: right;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.support_faq-minus {
	display: none;
}
.support_faq-answer {
	display: none;
}
.support_faq-answer span {
	width: calc(100% - 50px);
    margin-left: 10px;
    display: inline-block;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
	font-size: 12px;
	padding-right: 25px;
	
}
.support_faq-wrapper {
	border-top: 1px solid #CCC;
}
.support_faq-box {
	border-bottom: 1px solid #CCC;
}
.support_faq-categorybox {
	display: block;
}
.support_faq_category {
	width: calc(25% - 4px);
    height: 30px;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    line-height: 30px;
}
/** 임시조치 **/
.support_title {
	font-size: 14px;
	line-height: 30px;
	height: 30px;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 00px;
}
.support_card-wrapper {
	height: 30px;
	line-height: 30px;
}
.support_card-wrapper button {
	width: 80px;
    height: 30px;
    border: 0;
    text-align: center;
    float: right;
    right: 24px;
    background-color: #90312B;
    color: #FFF;
    line-height: 30px;
}
#support_ask_table, #support_notice_table {
	font-size: 12px;
}
#support_ask_table thead td{
	vertical-align: bottom;
	text-align: center;
}
#support_ask_table tbody td{
	vertical-align: middle;
	text-align: left;
}
#support_ask_table tbody td div{
	display: inline-block;
    overflow: hidden;
    width: 140px;
    text-align: left;
    padding-left: 10px;
    text-overflow: ellipsis;
    height: 20px;
    line-height: 20px;
}
#support_notice_table thead td{
	vertical-align: bottom;
	text-align: center;
}
#support_notice_table tbody td{
	vertical-align: middle;
	text-align: left;
}
.reply-wrapper {
	overflow: auto;
}
#support_question_btn {
	display: none;
	height: 30px;
    border: 0;
    text-align: center;
    float: right;
    background-color: #90312B;
    color: #FFF;
    line-height: 30px;
    margin-right: 4px;
    padding: 1px 12px 3px 12px;
}
.reply_content {
	margin-left: 24px;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
	margin-bottom: 10px;
}
.reply_content div {
	float: right;
    font-weight: normal;
    width: 100%;
    padding-right: 24px;
	padding-left: 20px;
}
.question-wrapper {
	margin-left: 10px;
	margin-right: 10px;
}
.question-wrapper input {
	border: 0;
    border-bottom: 1px solid #777;
    margin-bottom: 10px;
    width: 100%;
}
.question-wrapper button {
	width: 100%;
    height: 30px;
    border: 0;
    text-align: center;
    float: right;
    right: 24px;
    background-color: #90312B;
    color: #FFF;
    line-height: 30px;
	margin-top: 10px;
}
.dialog_couponlist_coupon, .dialog_couponlist_coupon_used {
	outline: 1px solid #dddddd;
	margin: 2px 0px;
}
.dialog_coupon_img, .dialog_coupon_description, .dialog_coupon_select {
	display: inline-block;
}
.dialog_coupon_img {
	vertical-align: top;
	margin-left: 12px;
}
.dialog_coupon_img img{
	display: none;
}
.dialog_coupon_description {
	font-size: 12px;
    width: calc(100% - 74px);
	margin-top: 6px;
}
.dialog_coupon_description span {
	font-weight: 600;
    border-top: 1px dotted #555555;
    display: block;
    margin-top: 3px;
    padding-top: 4px;
}
.dialog_coupon_select {
	vertical-align: top;
    line-height: 70px;
    font-size: 11px;
    text-align: center;
    width: 60px;
}


.dialog_review-close {
	border-bottom: 2px solid #90312B;
    height: 42px;
}
.dialog_review-name {
	width: calc(100% - 80px);
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
}
.dialog_review-name {
	display: inline-block;
    width: calc(100% - 80px);
    height: 40px;
    vertical-align: top;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: #333333;
    font-weight: 600;
}
.dialog_review-title {
	height: 40px;
    background-color: #EBE7E0;
    margin-left: -10px;
    margin-right: -10px;
    border-bottom: 1px solid #dddddd;
    color: #333333;
    font-size: 14px;
    padding-left: 20px;
    line-height: 40px;
    font-weight: 500;
}
.dialog_review-writer {
	height: 40px;
    background-color: #FFFFFF;
    margin-left: -10px;
    margin-right: -10px;
    border-bottom: 1px solid #dddddd;
    color: #333333;
    font-size: 14px;
    padding-left: 20px;
    line-height: 40px;
    font-weight: 500;
}
.dialog_review-content {
	position: absolute;
    height: calc(100% - 122px);
	width: 100%;
	top: 122px;
    bottom: 0px;
    margin-left: -10px;
    margin-right: -10px;
    overflow-y: scroll;
    border-bottom: 1px solid #dddddd;
}
.dialog_review-control {
	display: none;
	height: 100px;
    margin-left: -100px;
    margin-right: -100px;
}







.aboutus_image-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0px;
	top: 44px;
	position: relative;
}
.aboutus_image {
    width: 200%;
    margin-left: -67%;
}

#record_goods_table tbody tr td {
	font-size: 12px;
}

.sidebar_active {
	display: block;
    
    -webkit-animation: slide-left .3s ease-out;
    -moz-animation: slide-left .3s ease-out;
}


@-webkit-keyframes slide-left {
      0% { opacity: 0; -webkit-transform: translateX(100%); }   
    100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes slide-left {
      0% { opacity: 0; -moz-transform: translateX(100%); }   
    100% { opacity: 1; -moz-transform: translateX(0); }
}

#reviewlist {
	margin-top: 25px;
}

.card {
  	display: block;
    line-height: 1.42857143;
    background-color: #fff;
    transition: box-shadow .25s;
}
.img-card {
  	width: 25%;
  	border-top-left-radius:2px;
  	border-top-right-radius:2px;
  	display:inline-flex;
    overflow: hidden;
	position:relative;
	top: 0px;
}


/*
@media screen and (-webkit-device-pixel-ratio: 2) {
	.img-card {
		top: -20px;
	}
}

@media screen and (-webkit-device-pixel-ratio: 3) {
	.img-card {
		top: -20px;
	}
}
*/
.img-card img{
  	width: 100%;
}
.card-content {
	padding: 15px 0px 15px 15px;
  	text-align:left;
	display: inline-block;
	width: 75%;
	position: relative;
	top: -3px;
}
.card-title {
	width: 90%;
    margin-top: 0px;
    font-weight: 700;
    font-size: 1em;
    display: block;
    text-overflow: ellipsis;
    height: 20px;
    white-space: pre;
    overflow: hidden;
}
.card-writer {
	position: absolute;
	right: 10px;
}
.card-post {
	height: 20px;
	width: 95%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    word-wrap: normal !important;
    display: block;
	margin-top: 10px;
}
/**
.modal-header {
	border-bottom: 2px solid #90312b;
}
.modal-body {
	padding: 0px;
}
.modal-title {
	font-weight: bold;
	line-height: 1.1;
	text-align: center;
}
.modal-content {
	border-radius: 0px;
}**/
.body-top {
	background-color: #ebe7e0;
	font-weight: bold;
	padding: 20px;
}
.body-second {
	padding: 20px;
	font-weight: bold;
	font-size: 12px;
}

.modal-trigger {
	border: none;
	background-color: white;
	padding: 0px;
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
/**
.modal-body > iframe {
	width: 100%;
	height: 370px;
}**/

#filters {
	margin-top: 75px;
}

#filters li {
	float: left;
	list-style: none;
	font-size: 12px;
}
#instaReview button {
	border: none;
	background: white;
	font-size: 24px;
	color: #ccc;
}

#event_banner {
	width: 100%;
	background-color: #90312B;
	height: 36px;
	text-align: center;
}

#event_banner .text_banner {
	line-height: 30px;
	position:relative;
	top: 4px;
	color: #FFFFFF;
}
#event_banner .text_banner a{
	color: #FFFFFF;
}

#event_banner #close_banner:before { 
	content:"\00d7";
	color: #FFFFFF;
	position: absolute;
	right: 15px;
	font-size: 30px;
	top: -5px;
	cursor: pointer;
}

#holder {
	border: 1px dashed #ccc;
	width: 235px;
	height: 103px;
	margin: 10px 5px 20px 50px;
}
.img_container { 
  border: 0px;
  display:none;
  margin:auto;
}
.filebox {
	margin-left: 5px;
	margin-top: 2px;
    display: inline-block;
	width: calc(100% - 60px);
}
.filebox input[type="file"] { 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
} 
.filebox label { 
	display: inline-block; 
	padding: 5px 7px; 
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
	margin-top: 5px;
	width: 50px;
	text-align: center;
}
.filebox .upload-name {
	display: inline-block; 
	padding: .5em .75em;
	font-size: inherit; 
	font-family: inherit; 
	line-height: normal; 
	vertical-align: middle; 
	background-color: #f5f5f5; 
	border: 1px solid #ebebeb; 
	border-bottom-color: #e2e2e2; 
	border-radius: .25em; 
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: calc(100% - 55px);
}
/**
.modal {
	z-index: 1500;
}**/
 #review-title, #review-content{
	font-size: 16px;
 }
.review_write-tag{
	display: inline-block;
    width: 40px;
    vertical-align: top;
    margin-top: 14px;
    padding-left: 12px;
    font-size: 12px;
    font-weight: 500;
    color: #333333;
}
#review-title {
	border: 0px;
    resize: none;
    border-bottom: 1px solid #777777;
    margin-left: 5px;
    margin-right: 5px;
    width: calc(100% - 60px);
    border-radius: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: none;
    display: inline-block;
}
#review-content {
	width: calc(100% - 60px);
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    resize: none;
}
.review_write-paragraph {
	display: block;
	margin-top: 10px;
}
.review_write-dropdown {
	display: inline-block;
    margin-top: 4px;
    margin-left: 6px;
}
.record_reviewwrite_btn {
	float: right;
    background-color: #90312B;
    color: #FFFFFF;
    border: 0;
    padding: 2px 20px 3px 20px;
    margin-bottom: 10px;
}

/*******  공지사항  **********/
.noticedetail-name_large {
	display: block;
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: #333333;
    font-weight: 600;
    margin-bottom: 5px;
}
.noticedetail-title {
    height: 40px;
    border-top: 2px solid #90312B;
    background-color: #EBE7E0;
    line-height: 40px;
    padding-left: 20px;
	padding-right: 20px;
    font-size: 14px;
    color: #333333;
    font-weight: 600;
    border-bottom: 1px solid #EBE7E0;
    margin-left: -15px;
    margin-right: -15px;
}
.noticedetail-writer {
	height: 40px;
    line-height: 40px;
    padding-left: 20px;
	padding-right: 20px;
    color: #333333;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #EBE7E0;
    margin-left: -15px;
    margin-right: -15px;
}
.noticedetail-content {
	min-height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.noticedetail-control {
	height: 1px;
    border-bottom: 1px solid #EBE7E0;
	margin-left: -15px;
    margin-right: -15px;
}
.noticedetail-back {
	text-align: center;
    margin-top: 20px;
}
.noticedetail-back img {
	width: 50px;
    height: 50px;
    cursor: pointer;
}