input[type="checkbox"] {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}


input[type="checkbox"]:hover+label:before {
	border-color: black;
}

input[type="checkbox"]:active+label:before {
	-webkit-transition-duration: 0;
	transition-duration: 0;
	-webkit-filter: brightness(0.2);
	filter: brightness(0.2);
}

input[type="checkbox"]+label {
	position: relative;
	padding: 10px;
	padding-left: 2em;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type="checkbox"]+label:before {
	box-sizing: content-box;
	content: '';
	color: #900;
	position: absolute;
	top: 50%;
	left: 0;
	width: 14px;
	height: 14px;
	margin-top: -9px;
	border: 2px solid grey;
	text-align: center;
}

input[type="checkbox"]+label:after {
	box-sizing: content-box;
	content: '';
	background-color: #900;
	position: absolute;
	top: 50%;
	left: 4px;
	width: 10px;
	height: 10px;
	margin-top: -5px;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition: -webkit-transform 200ms ease-out;
	transition: -webkit-transform 200ms ease-out;
	transition: transform 200ms ease-out;
	transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

input[type="checkbox"]+label:after {
	background-color: transparent;
	top: 50%;
	left: 4px;
	width: 8px;
	height: 3px;
	margin-top: -4px;
	border-style: solid;
	border-color: #900;
	border-width: 0 0 3px 3px;
	-webkit-border-image: none;
	-o-border-image: none;
	border-image: none;
	-webkit-transform: rotate(-45deg) scale(0);
	transform: rotate(-45deg) scale(0);
	-webkit-transition: none;
	transition: none;
}

input[type="checkbox"]:checked+label:after {
	content: '';
	-webkit-transform: rotate(-45deg) scale(1);
	transform: rotate(-45deg) scale(1);
	-webkit-transition: -webkit-transform 200ms ease-out;
	transition: -webkit-transform 200ms ease-out;
	transition: transform 200ms ease-out;
	transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

input[type="checkbox"]:checked+label:after {
	-webkit-transform: rotate(-45deg) scale(1);
	transform: rotate(-45deg) scale(1);
}

@-webkit-keyframes borderscale {
	50% {
		box-shadow: 0 0 0 2px #900;
	}
}

@keyframes borderscale {
	50% {
		box-shadow: 0 0 0 2px #900;
	}
}





.row>.column {
	padding: 0 8px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}


#dg-slider {
	white-space: nowrap;
	overflow-x: scroll;
	width: 100%;
}

#dg-slider::-webkit-scrollbar-track
{
	background-color: #222;
	border-radius: 10px;
}

#dg-slider::-webkit-scrollbar
{
	border-radius: 20px;
	width: 5px;
	background-color: #222;
}

#dg-slider::-webkit-scrollbar-thumb
{
	background-color: #222;

}




.column {
	display: inline-block;
	margin-right: 10px;
}

.column img {
	height: 110px;
}




.dialog {
	display: none;
	position: fixed;
	z-index: 1500;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #222;
}

.dialog-content {
	position: relative;
	background-color: #222;
	margin: auto;
	padding: 0;
	width: 100%;
	height: 100%;
	padding-top: 80px;
}

.insta_detail_img {
	height: calc(100% - 300px);
}
.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
	opacity: .7;
	z-index: 1;
}

.close:hover,
.close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

.dgSlides {
	display: none;
}

.cursor {
	cursor: pointer
}


.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 40px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}


.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}




.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}


.caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
	height: 80px;
}

.demo {
	opacity: 0.4;
}

.active,
.demo:hover {
	opacity: 1;
}



img.hover-shadow {
	transition: 0.3s
}

.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.thumb {
	border: 2px solid white;
	border-radius: 4px;
}

.onthumb {
	border: 2px solid #C92F2F;
	border-radius: 4px;
}