body {
	cursor: default;
}
.cgrey {
	background-color: #EEEEEE;
}

.noresize {
	resize: none;
}

.carousel-indicators .active {
	background-color: rgba(255,255,255,0.40)
}

.phrase-catch, .subphrase-catch {
	color: #898989;
	text-align: center;
}
.phrase-catch {
	height: 40px;
	line-height: 40px;
	font-size: 30px;
}
.subphrase-catch {
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	margin-bottom: 24px;
}
.phrase-good-wrapper {
	text-align: center;
	width: 430px;
	margin-left: 70px;
}
.phrase-logo {
	width: 170px;
	height: 160px;
	margin-top: 40px;
}
.phrase-good, .subphrase-good {
	text-align: center;
	color: #898989;
}
.phrase-good {
	line-height: 40px;
	height: 40px;
	width: 230px;
	margin-left: 85px;
	font-size: 30px;
	border-left: 1px solid #898989;
	border-right: 1px solid #898989;
}
.subphrase-good {
	width: 400px;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 35px;
}

.box_hover {
	background-color: #FFF;
	border-top: 2px solid #FFF;
	cursor: pointer;
	margin-top: 30px;
	text-align: center;
}
.box_hover:hover {
	border-top: 2px solid #90312B;
}
.box_image {
	width: 130px;
	height: 70px;
}
.box_hover p {
	text-align: center;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
}
.date-card {
	margin-bottom: 12px;
	width: 19px;
	height: 24px;
}
.date-card.front {
	margin-left: 4%;
}
.date-card.middle {
	margin-left: 1%
}
.date-card.last {
	margin-right: 4%
}
.date-card-after {
	font-size: 12px;
}


.simage {
	width: 370px;
	height: 480px;
	cursor: pointer;
}
.sname, .sweight, .sprice {
	text-align: center;
}
.sname {
	font-size: 16px;
}
.sweight {
	font-size: 12px;
}
.sprice {
	font-size: 16px;
	color: #90312B;
}
.swrapper{
	width: 370px;
	height: 280px;
	background-color: rgba(51,51,51,0.7);
	position: absolute;
	bottom: 100px;
	display: none;
}
.swrapper div {
	position: absolute;
}

.soption-wrapper {
	width: 230px;
	height: 120px;
	left: 70px;
	margin-top: 30px;
}
.soption-wrapper span {
	height: 30px;
	width: 30px;
	line-height: 30px;
	color: #FFF;
}
.soption-wrapper div {
	width: 184px;
	height: 120px;
	right: 0px;
	top: 0px;
}
.soption-wrapper div div {
	position: relative;
	height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	outline: 1px solid #FFF;
	color: #FFF;
	line-height: 20px;
	font-size: 12px;
	padding-left: 10px;
	cursor: pointer;
}
.soption-wrapper div div:hover {
	background-color: #FFF;
	color: #000;
}

.squantity-wrapper {
	width: 230px;
	height: 30px;
	bottom: 100px;
	left: 70px;
	line-height: 30px;
	color: #FFF;
}
.squantity-wrapper span {
	position: absolute;
	right: 0px;
}
.squantity-more, .squantity-less, .squantity-count{
	outline: 1px solid #FFF;
	width: 30px;
	height: 22px;
	margin-top: -26px;
	line-height: 22px;
}
.squantity-more {
	left: 87px;
	text-align: center;
	cursor: pointer;
}
.squantity-less {
	left: 47px;
	text-align: center;
	cursor: pointer;
}
.squantity-count {
	background-color: #FFF;
	color: #000;
	right: 24px;
	text-align: center;
}

.sbutton-detail, .sbutton-cart {
	width: 110px;
	height: 50px;
	line-height: 50px;
	color: #FFF;
	bottom: 30px;
	text-align: center;
	cursor: pointer;
}
.sbutton-detail {
	background-color: #777;
	left: 70px;
}
.sbutton-cart {
	background-color: #90312B;
	right: 70px;
}
.stext {
	height: 100px;
	cursor: pointer;
}


/**우측 로그인 사이드바**/
.sidebar-signin {
	z-index: 2000;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	pointer-events: all;
	
	/**position: fixed;
	width: 370px;
	height: 100%;
	border-left: 1px solid #E0E0E0;
	background-color: #FFF;
	right: 0px;
	z-index: 2000;
	display: none;**/
}

.signin_head {
	margin-top: 50px;
    text-align: center;
    height: 60px;
}
.signin_head img {
	width: 26px;
	height: 26px;
}
.signin_head span {
	color: #777;
	font-size: 16px;
	height: 20px;
	line-height: 20px;
	display: block;
    margin-top: 10px;
}
.signin_body {
	text-align: center;
	margin-top: 170px;
	margin-left: 70px;
	margin-right: 70px;
}
.signin_tail {
	margin-top: 120px;
	margin-left: 140px;
	margin-right: 140px;
	text-align: center;
	height: 160px;
}
.signin_input {
	width: 100%;
}
.sign_control {
	text-align: right;
}
.signin_body input {
	border: 0;
	border-bottom: 1px solid #CCC;
	margin-top: 15px;
	margin-bottom: 15px;
}
.findpw_btn, .signup_btn {
	cursor: pointer;
	background-color: #FFF;
	border: 0;
	margin-left: 5px;
	font-size: 12px;
	color: #555;
}
.signin_btn {
	width: 88px;
	height: 98px;
	cursor: pointer;
}



/**약관, 회원가입 다이어로그**/
.dialog_shadow {
	background-color: rgba(0,0,0,0.45);
	pointer-events: all;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 2100;
	display: none;
}
#dialog_privacy, #dialog_rule {
	z-index: 2101;
}
.dialog_popup {
	background-color: #FFF;
	border: 1px solid #E0E0E0;
	position: absolute;
}
.dialog_popup.rule{
	left: 50%;
	top: 50%;
	margin-left: -285px;
	margin-top:  -320px;
	width: 570px;
	height: 640px;
}
.dialog_popup.rule .dialog_text-wrapper{
	padding-left: 24px;
	padding-right: 24px;
}
.dialog_popup p {
	text-align: center;
}
.dialog_close-wrapper {
	height: 40px;
	text-align: right;
}
.dialog_close-wrapper img {
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.dialog_text-wrapper {
	width: 100%;
	height: 600px;
	overflow-y: scroll;
}



.dialog_content-wrapper {
	margin-left: 100px;
	margin-right: 100px;
}
.dialog-title {
	font-size: 16px;
	color: #555555;
}
.dialog-subtitle {
	margin-bottom: 55px;
	font-size: 14px;
	color: #555555;
}
.agree-wrapper {
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #999;
	font-weight: normal;
}
.agree-wrapper a {
	position: absolute;
	right: 100px;
	cursor: pointer;
}
.agree-wrapper label {
	font-size: 14px;
}
.agree-wrapper label input{
	margin-right: 10px;
}
.agree-wrapper a {
	font-size: 12px;
	color: #555555;
}
.agree-input-wrapper {
	margin-top: 50px;
}
.agree-input {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
}
.agree-input input {
	width: 230px;
    position: absolute;
    left: 150px;
    border: 0;
    border-bottom: 1px solid #CCC;
    height: 30px;
    margin-top: 5px;
    font-weight: normal;
}
.agree-input a {
	font-size: 14px;
	color: #555555;
	position: absolute;
	right: 100px;
}
#user_code {
	display: none;
}
.agree-btn {
	width: 110px;
	height: 50px;
	outline: 2px solid #90312B;
	text-align: center;
	color: #90312B;
	line-height: 50px;
	margin-left: 130px;
	bottom: 60px;
	position: absolute;
	cursor: pointer;
}
.signin_sms {
}
.signin_info {
}
.signup-input {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
}
.signup-input input {
	width:300px;
	position: absolute;
	left: 150px;
}



/***** 카드 다이어로그 *****/
.card-input {
	margin-left: 36px;
    height: 30px;
    line-height: 30px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: bold;
}
.card-input input {
	float: right;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 50px;
	width: 300px;
}
.dialog_fit_noscroll {
	overflow: auto;
}
.card-description {
	height: 220px;
	width: 100%;
	text-align: center;
}
.card_register, .questionSubmit {
	display: inline-block;
    width: 220px;
    height: 40px;
    border: 0;
    text-align: center;
    right: 24px;
    background-color: #90312B;
    color: #FFF;
}

.card_register {
	margin-left: 187px;
    margin-top: 20px;
}

.questionSubmit {
	margin-left: 150px;
	margin-top: 50px;
}
.card-detailimg {
	width: 500;
	height: 200px;
}

/**** 상세조회 다이어로그 *****/
#mypage_detail {
	margin-bottom: 40px;
}
.record_reviewwrite_btn {
    background-color: #90312B;
    color: #FFFFFF;
    border: 0;
    padding: 2px 20px 3px 20px;
	position: absolute;
	right: 0px;
}
.review_write-tag {
	display: inline-block;
    width: 100px;
    padding-left: 30px;
    font-weight: 600;
    color: #333333;
}
.review_write-tagtop {
	vertical-align: top;
}
.review_write-title {
	border: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px;
    margin: 10px 20px 10px 20px;
    width: 520px;
    display: inline-block;
    border-bottom: 1px solid #777777;
}
.review_write-dropdown {
	display: inline-block;
	margin-left: 20px;
}
.review_write-paragraph {
	display: block;
	margin-top: 10px;
}
.review_write-paragraph textarea {
	resize: none;
	margin: 0px 20px 0px 20px;
	width: 520px;
	display: inline-block;
}
#dialog_orderdetail .dialog_popup {
}
.record_wrapper {
	height: 240px;
}
.record_subtitle {
	margin-left: 24px;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #333333;
    text-align: center;
	margin-bottom: 20px;
}
.record_address-top {
	height: 52px;
	border-top: 1px solid #CCCCCC;
}
.record_address-table {
	height: 51px;
	width: 770px;
	border-bottom: 1px solid #CCCCCC;
	margin-left: 90px;
}
.record_address-tname {
	font-size: 14px;
	line-height: 50px;
	text-align: left;
	font-weight: 600;
	color: #333333;
	width: 100px;
	display: inline-block;
}
.record_address-tvalue {
	font-size: 14px;
	line-height: 50px;
	text-align: left;
	color: #333333;
	width: 270px;
	display: inline-block;
}
#record_addresssum {
	width:550px;
}
.record_address-wrapper, .record_payment-wrapper{
	height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding-left: 36px;
	display: inline-block;
	width: 320px;
}
.record_address-wrapper div{
    width: 600px;
    text-align: left;
    margin-right: 24px;
	font-weight: normal;
}
.record_goods-table {
	width: 770px;
	margin-left: 90px;
	border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}
.record_payment-wrapper div{
    width: 320px;
    text-align: left;
	margin-right: 24px;
	font-weight: normal;
}
.record_pay-wrapper {
	width: 770px;
	height: 51px;
	border-bottom: 1px solid #CCCCCC;
	margin-left: 90px;
}
.record_pay-wrapper-half {
	width: 390px;
	height: 51px;
	border-bottom: 1px solid #CCCCCC;
	margin-left: 470px;
}
.record_pay-tname {
	font-size: 14px;
	line-height: 50px;
	text-align: left;
	font-weight: 600;
	color: #333333;
	width: 100px;
	display: inline-block;
}
.record_pay-tname.record_p_grey {
	padding-left: 20px;
}
.record_pay-tvalue {
	font-size: 14px;
	line-height: 50px;
	text-align: left;
	color: #333333;
	width: 270px;
	display: inline-block;
}
.record_pay-tprice {
	font-size: 14px;
	line-height: 50px;
	text-align: right;
	color: #333333;
	width: 270px;
	display: inline-block;
}
.record_p_grey {
	color: #777777;
}
.record_p_red {
	color: #90312B;
}
.record_write_review-wrapper {
	display: none;
}
.record_write_review-wrapper img {
	width: 87px;
	height: 95px;
}
#record_status {
	color:#90312B;
}
.record_notice {
	height: 60px;
    text-align: center;
    background-color: #CCC;
    font-weight: bold;
    padding: 10px;
	width: 770px;
    margin-left: 90px;
	margin-bottom: 20px;
}
.record_net {
	height: 30px;
}
#record_net {
	font-size: 16px;
    font-weight: bold;
    line-height: 30px;
	color:#90312B;
}


/**장바구니 사이드바**/
.sidebar-cart {
	z-index: 2000;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	pointer-events: all;
}
.sidebar-content {
	position: fixed;
	width: 370px;
	height: 100%;
	border-left: 1px solid #E0E0E0;
	background-color: #FFF;
	right: 0px;
	pointer-events: all;
}
.cart_empty{
	position: absolute;
	width: 370px;
	height: 100%;
	top: 40px;
	right: 0px;
	background-color: #FFF;
}
.cart_empty p {
	text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #777777;
}
.cart_empty_icon {
	margin-top: 240px;
	width: 100%;
	text-align: center;
}
.cart_empty_icon img {
	width: 48px;
	height: 48px;
}
.cart_head {
	text-align: center;
	border-bottom: 2px solid #000;
	height: 40px;
	line-height: 40px;
}
.cart_body {
	height: calc(100% - 280px);
	width: 370px;
	overflow-y: scroll;
}
.cart_tail {
	position: absolute;
	width: 370px;
	height: 240px;
	bottom: 0px;
	border-top: 2px solid #000;
}
.cart_date {
	width: 100%;
	height: 60px;
	line-height: 60px;
	border-bottom: 2px solid #000;
}
.cart_date span {
	margin-left: 30px;
}
#cart_shippingdate {
	position: absolute;
	top: 0px;
	left: 80px;
	text-align: left;
	line-height: 60px;
}
.cart_date div {
	width: 30px;
	height: 30px;
	margin-top: 15px;
	outline: 1px solid #E0E0E0;
	cursor: pointer;
	position: absolute;
	top: 0px;
	line-height: 30px;
	text-align: center;
}
#cart_prior {
	right: 80px;
}
#cart_next {
	right: 40px;
}
.cart_price {
	border-bottom: 2px solid #000;
	text-align: left;
	padding-left: 100px;
	height: 30px;
	line-height: 30px;
}
.cart_price span{
	text-align: right;
	padding-right: 20px;
	position: absolute;
	right: 20px;
}
#cart_echo {
	color:#90312B;
}
.cart_price.net {
	font-weight: bold;
}
.cart_purchase {
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: #000;
	color: #FFF;
	cursor: pointer;
}
/***장바구니 항목****/
.cart_item {
	height: 140px;
	border-bottom: 2px solid #000;
}
.citem-name {
	border-bottom: 1px solid #555;
	height: 60px;
	line-height: 60px;
	padding-left: 20px;
}
.citem-name span {
	width: 240px;
	text-align: left;
	display: inline-block
}
.citem-option {
	border-bottom: 1px solid #555;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	font-size: 13px;
}
.citem-select {
	height: 40px;
	padding-left: 20px;
	line-height: 40px;
}
.citem_tag {
	display: inline-block;
	width: 30px;
	text-align: center;
}
.citem-quantity, .citem-price {
	height: 40px;
	line-height: 40px;
	text-align: right;
	display: inline-block;
}
.citem-quantity {
	width: 60px;
}
.citem-price {
	width: 100px;
}
.cart_less, .cart_more {
	display: inline-block;
	margin-left: 10px;
	width: 24px;
	height: 24px;
	outline: 1px solid #E0E0E0;
	cursor: pointer;
	text-align: center;
	line-height: 24px;
}
.cart_less {
	left: 148px;
}
.cart_more {
	left: 180px;
}
.citem-remove {
	margin-left: 50px;
	width: 30px;
	height: 30px;
	outline: 1px solid #555;
	cursor: pointer;
}
.event_banner {
	position: relative;
	top: 90px;
	width: 100%;
    text-align: center;
    cursor: pointer;
    min-width: 1170px;
    height: 240px;
    margin-bottom: -60px;
    overflow: hidden;
}
.event_banner img {
	width: 2400px;
    height: auto;
    margin-left: calc(50% - 1170px);
}
/**** 축산물 조회 *****/
.tracking-box {
	z-index: 1;
	top: 90px;
	margin-bottom: -60px;
	height: 120px;
	width: 1170px;
	background-color: #FFF;
	padding: 35px;
	box-shadow: 1px 1px 10px 1px #888888;
}
.tracking-box div, .tracking-input {
	height: 50px;
	line-height: 50px;
	display: inline-block;
}
.tracking-title {
	width: 430px;
	padding-left: 10px;
	font-size: 24px;
}
.tracking-input {
	width: 500px;
	background-color: #F9F9F9;
	font-size: 14px;
	border: 0;
	padding-left: 10px;
}
.tracking-btn {
	width: 160px;
	background-color: #90312B;
	font-size: 14px;
	color: #FFF;
	text-align: center;
}
/**** 푸터 ***/
.footer.cgrey {
	height: 330px;
	position: relative;
	top: 90px;
}
.footer-img {
	width: 100px;
	height: 150px;
	margin-top: 120px;
}
.footer-text {
	font-size: 12px;
	color: #595959;
	margin-top: 150px;
}
.footer-text a {
	cursor: pointer;
}





/**** 상품상세 상단메뉴 *****/
#detail_menu {
	height: 56px;
	background-color: #F7F7F7;
	border-bottom: 1px solid #EDEDED;
}
#detail_menu div {
	height: 56px;
}
.detail_arrow {
	width: 30px;
	height: 56px;
	display: inline-block;
	position: absolute;
	cursor: pointer;
}
.arrow_left {
	margin-left: 50px;
}
.arrow_right {
	margin-right: 50px;
}
.detail_arrow img {
	width: 30px;
	height: 56px;
	vertical-align: baseline;
}
.detail_menu_wrapper {
	width: 770px;
	height: 48px;
	line-height: 56px;
	font-size: 16px;
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
	display: inline-block;
}
#detail_menu_pork_group, #detail_menu_chicken_group, #detail_menu_egg_group {
	display: none;
}
#detail_menu_pork_group {
	width: 560px;
}
#detail_menu_chicken_group {
	width: 510px;
}
#detail_menu_egg_group {
	width: 210px;
}
#detail_menu_pork, #detail_menu_chicken, #detail_menu_egg {
	color:#222222;
	font-weight: bold;
	float: left;
	cursor: pointer;
}
#detail_menu_chicken, #detail_menu_egg {
	margin-left: 36px;
}
.detail_menu_group {
	display: inline-block;
}
.detail_menu_item {
	color: #222222;
	float: left;
	margin-left: 28px;
	font-size: 14px;
	cursor: pointer;
}



/******* 상품상세 ******/

.detail_content-wrapper {
	margin-top: 30px;
}.detail_control-wrapper {
	margin-top: 30px;
}

.detail-main  {
	width: 555px;
	height: auto;
}
#detail-control {
	display: none;
}


.detail_control {
	outline: 2px solid #000;
}
.detail_summary, .detail_option, .detail_quantity, .detail_date, .detail_price, .detail_button, .detail_about, .detail_shipment, .detail_shipping, .detail_refund, .detail_index{
	width: 100%;
	border-bottom: 2px solid #000;
}
.detail_summary {
	height: 110px;
}
.detail_option, .detail_quantity, .detail_date, .detail_price, .detail_button {
	height: 50px;
}


.detail_summary-wrapper {
	padding: 20px 30px;
}

.detail_button {
	text-align: center;
	color: #FFF;
	background-color: #000;
	line-height: 50px;
	font-size: 16px;
	cursor: pointer;
}
.refund_detail {
	margin-left: 140px;
}
.refund_info-wrapper {
	width: 360px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #CCC;
	margin-top: 10px;
}
.refund_info-wrapper #bank_user{
	width: 60px;
	text-align: center;
}
.refund_info-wrapper #bank_code{
	margin-left: 10px;
	width: 130px;
	text-align: center;
}
.refund-margin {
	margin-left: 140px;
}
.refund_info-add {
	font-size: 12px;
	color: #555;
	margin-top: 10px;
	height: 24px;
	line-height: 24px;
}
.refund_info-add.refund-margin {
	margin-bottom: 10px;
}
#detail_name, #detail_standardweight, #detail_standardprice {
	display: block;
}
#detail_name {
	font-size: 16px;
	font-weight: bold;
}
#detail_standardweight {
	font-size: 12px;
}
#detail_standardprice {
	font-size: 14px;
	font-weight: bold;
}
#detail_part {
	width: 100px;
	float: right;
	height: 100px;
	margin-right: 30px;
	margin-top: -95px;
}
.detail_tag {
	width: 100px;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	text-align: center;
}
#detail_quantity {
	display: inline-block;
	padding: 8px 30px 6px 30px;
	outline: 2px solid #999;
}
#detail_price {
	font-weight: bold;
}
.detail_minus, .detail_plus {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	outline: 2px solid #999;
	color: #999;
	width: 26px;
	text-align: center;
	float: right;
	margin-top: 12px;
	margin-right: 12px;
	cursor: pointer;
	padding-bottom: 2px;
}
#detail_option {
	width: 200px;
}

.detail_more {
	height: 50px;
	line-height: 50px;
	padding-left: 30px;
	font-weight: bold;
	font-size: 16px;
}
.detail_more div {
	padding: 15px 30px;
	font-size: 14px;
}
#detail_about, #detail_shipment, #detail_shipping, #detail_refund {
	padding: 15px 30px;
}
.detail_refund {
	border-bottom: 0px;
}




/***** 결제 ******/
#payment-loader {
	width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    pointer-events: all;
    text-align: center;
    top: 0px;
    position: fixed;
    z-index: 3000;
    padding-top: 10%;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
}
.payment_left {
	padding: 0;
	width: calc(50% + 15px) !important;
}
.payment_right {
	padding-left: 0px;
}
.payment-mainimage {
	width: 600px;
	height: 500px;
}
.payment-mainimage-2 {
	width: 600px;
	height: 600px;
	margin-top: 15px;
	margin-bottom: 30px;
}
#card_method .payment-mainimage-2 {
	height: 600px !important;
}
.payment-mainimage-3 {
	width: 600px;
	height: 600px;
	margin-top: 45px;
	margin-bottom: 30px;
}
.payment_info-wrapper {
	border-bottom: 1px solid #CCC;
	padding-bottom: 20px;
}
.payment_info-wrapper.last-wrapper {
	border: 0;
}
.payment_customer-wrapper {
	height: 30px;
	line-height: 30px;
}
#payment_customername, #payment_customerphone, #payment_customeremail {
	display: inline-block;
}
#payment_customername {
	width: 70px;
	padding-left: 24px;
}
#payment_customerphone {
	width: 130px;
	text-align: center;
}
#payment_customeremail {
	width: 170px;
	text-align: center;
}
.payment_card_option{
	height: 50px;
	padding-left: 24px;
}
.card_tag {
	line-height: 50px;
	font-weight: bold;
	display: inline-block;
}
#card_option {
	width: 200px;
	margin-left: 40px;
}
.card_register_open{
	width: 120px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    background-color: #90312B;
    float: right;
    margin: 0;
    margin-right: 120px;
    margin-top: 10px;
}
.payment_address-wrapper {
}
.payment_address-choice, .payment_method-choice, .payment_direct_info, .payment_refund-choice{
	width: 120px;
	line-height: 30px;
	padding-left: 24px;
	display: inline-block;
	font-weight: bold;
}
.payment_direct_info, .payment_direct_code {
	margin-top: 10px;
}
.payment_direct_code {
	font-size: 14px;
	line-height: 30px;
	padding-left: 20px;
	display: inline-block;
	position: absolute;
}
.radio_choice {
	width: 300px;
	display: inline-block;
}
.radio_choice input {
	display: inline-block;
	margin-left: 20px;
	margin-right: 10px;
}
#get_tax {
	margin-left: 122px;
	margin-bottom: 20px;
}
.tax_input {
	border: 0;
	border-bottom: 1px solid #999;
	width: 260px;
	margin-left: 18px;
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
}
#saved_address, #input_address {
	display: none;
	margin-top: 10px;
}
#direct_method, #bank_refund, #company_own, #get_tax {
	display: none;
}

#order_name, #order_phone, .order_address-box {
	height: 30px;
	line-height: 30px;
	padding-left: 24px;
}
#input_address {
	margin-left: 24px;
}
#order_postcode, #order_address, #order_room {
	display: inline-block;
	margin-right: 4px;
}
#new_name, #new_phone, #new_postcode, #new_address, #new_room {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-right: 20px;
	border: 0;
	border-bottom: 1px solid #999;
	margin-bottom: 10px;
}
#new_name {
	width: 100px;
}
#new_address, #new_room, #new_request{
	width: 500px;
}
#new_name, #new_postcode, #new_address, #new_room {
}
.order_request_box {
	margin-top: 30px;
	font-weight: bold;
	font-size: 14px;
	margin-left: 24px;
	margin-bottom: 20px;
}
.order_request_box input{
	font-weight: normal;
	font-size: 14px;
	border: 0;
	border-bottom: 1px solid #999;
	height: 30px;
}
.findpost {
	border: 0;
	background-color: #FFF;
	font-weight: bold;
}
.payment_cart-list, .payment_shippingdate, .payment_point, .payment_price, .payment_net, .payment_action, .payment_coupon {
	width: 100%;
}
.payment_box {
	border-left: 1px solid #CCC;
}
.citem-payment {
	float: right;
	margin-right: 24px;
	font-weight: bold;
}
.pay_item_border {
	border: 0;
}
.citem-option.pay_item_border {
	height: 20px;
	line-height: 20px;
}
.cart_item_pay {
	border: 0;
	border-bottom: 1px solid #CCC;
	height: 130px;
}
.payment_shippingdate {
	background-color: #333;
	color: #FFF;
	height: 65px;
	line-height: 65px;
	font-size: 16px;
	text-align: left;
	font-weight: bold;
	padding-left: 24px;
}
.payment_priorday, .payment_nextday, #payment_shippingdate {
	display: inline-block;
	float: right;
}
.payment_priorday, .payment_nextday {
	cursor: pointer;
	width: 20px;
}
#payment_shippingdate {
	width: 130px;
}
.payment_subtitle {
	font-weight: bold;
	font-size: 16px;
	padding-left: 24px;
	margin-top: 20px;
	height: 40px;
	line-height: 40px;
}
.payment_point {
	border-bottom: 1px solid #CCC;
	padding-bottom: 20px;
}
.payment_coupon {
	border-bottom: 1px solid #CCC;
	padding-bottom: 20px;
}
.payment_price {
	margin-bottom: 20px;
}
.payment_pown {
	float: right;
	width: 200px;
}
.payment_coupon_button {
	width: 100px;
	height: 40px;
	border: 0;
	text-align: center;
	float: right;
	right: 24px;
	background-color: #90312B;
	color: #FFF;
	line-height: 40px;
	margin-top: -8px;
}
.dialog_couponlist_coupon_used {
	outline: 1px solid #dddddd;
	margin: 4px -10px;
	padding: 10px;
}
.dialog_couponlist_coupon {
	cursor: pointer;
	outline: 1px solid #dddddd;
	margin: 4px -10px;
	padding: 10px;
}
.dialog_couponlist_coupon:hover {
	outline: 1px solid #90312B;
}
.dialog_coupon_img, .dialog_coupon_description, .dialog_coupon_select {
	display: inline-block;
}
.dialog_coupon_img {
	vertical-align: top;
}
.dialog_coupon_description {
	font-size: 14px;
	width: 240px;
}
.dialog_coupon_description span{
	font-size: 12px;
	font-weight: 600;
	color: #333333;
}
.dialog_coupon_select {
	width: 60px;
    vertical-align: top;
    height: 30px;
    line-height: 30px;
    margin-top: 15px;
    text-align: center;
    font-weight: 600;
}
.dialog_coupon_img img{
	width: 26px;
	height: 26px;
	margin: 17px;
}
#payment_pointown, #payment_pointUsed {
	width: 70px;
	text-align: right;
}
#payment_pointUsed {
	border: 0;
	border-bottom: 1px solid #CCC;
}
#payment_coupon {
	border: 0;
	border-bottom: 1px solid #CCC;
	width: 150px;
}
.payment_price_detail {
	padding-left: 24px;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
}
.payment_price_detail span {
	float: right;
	text-align: right;
	width: 130px;
	margin-right: 24px;
}
.payment_net {
	background-color: #333;
	color: #FFF;
	height: 65px;
	line-height: 65px;
	font-size: 16px;
	text-align: left;
	font-weight: bold;
	padding-left: 24px;
}
#payment_direct {
	color: #90312B;
}
#payment_net {
	float: right;
	margin-right: 24px;
	width: 130px;
	text-align: right;
}
.check_payment {
	height: 60px;
	line-height: 60px;
	padding-left: 24px;
}
.payment_button_wrapper {
	height: 200px;
	width: 100%;
	text-align: center;
	line-height: 200px;
}
#payment_button {
	width: 90px;
	height: 100px;
	cursor: pointer;
}





/****** 마이페이지 *******/
#btnCloseLayer {
	width: 30px;
	height: 30px;
}
#mypage_menu {
	height: 90px;
	border-bottom: 1px solid #CCC;
}
.mypage_logout_wrapper{
	margin-top: 10px;
	margin-right: 10px;
	text-align: right;
}
.mypage_logout_wrapper button {
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
#mypage_welcome {
	font-size: 16px;
	line-height: 25px;
	top: 50px;
	position: relative;
	font-weight: bold;
	text-align: center;
}
/***
.mypage_menu-wrapper {
	text-align: center;
	height: 30px;
	margin-top: 30px;
}
.mypage_menu-wrapper div {
	text-align: center;
	line-height: 30px;
	height: 30px;
	font-size: 14px;
	cursor: pointer;
	display: inline-block;
	width: 100px;
}
.mypage_menu_order {
	margin-right: 30px;
}***/
#mypage_submenu {
	position: relative;
	top: 90px;
}

.mypage_cinfo {
	background-color: #ece9e4;
	height: 260px;
}

.mypage_cinfo > p {
	position: relative;
	top: 100px;
	width: 90%;
	left: 5%;
	font-weight: bold;
	height: 25px;
	border-bottom: 1px solid #ccc;
}



.mypage_cinfo p > span {
	position: absolute;
}

.mypage_cinfo p > .mypage_cdetail {
	left: 30px;
}

.mypage_cinfo p > .mypage_fdata {
	color: #90312b;
	right: 50px;
}

.mypage_cinfo p > .mypage_unit {
	right: 30px;
}
#mypage_content {
	position: relative;
	top: 90px;
	border-left: 1px solid #CCC;
	left: -15px;
}
.mypage_submenu {
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #EEE;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}
.mypage_submenu_bottom {
	height: 300px;
}

.mypage_signout {
	width: 40%;
	position: relative;
	left: 30%;
	top: 50px;
	border: none;
	height: 35px;
	background-color: #999;
	color: white;
}
.mypage_title {
	margin-left: 125px;
	font-size: 20px;
	line-height: 30px;
	height: 30px;
	margin-top: 40px;
	text-align: center;
	margin-bottom: 50px;
	font-weight: bold;
}
.table_select {
	cursor: pointer;
	color: #90312B;
}
#mypage_order_table thead td, #mypage_point_table thead td, #mypage_card_table thead td, #mypage_coupon_table thead td {
	vertical-align: bottom;
	text-align: center;
}
#mypage_order_table tbody td, #mypage_point_table tbody td, #mypage_card_table tbody td, #mypage_coupon_table tbody td {
	vertical-align: middle;
	text-align: center;
}
#mypage_detail_table thead td{
	vertical-align: bottom;
	text-align: center;
}
#mypage_detail_table tbody td{
	vertical-align: middle;
	text-align: center;
}
#mypage_point, #mypage_card, #mypage_bank, #mypage_address, #mypage_code, #mypage_detail, #mypage_cms ,#mypage_coupon{
	display: none;
}

#mypage_point_table, #mypage_order_table, #mypage_card_table, #mypage_coupon_table {
	margin-left: 80px;
	width: calc(100% - 80px);
}


.table_minuspoint{
	color: #90312b;
}
.mypage_point-wrapper {
	margin-left: 120px;
	height: 60px;
	text-align: center;
}
.mypage_point-wrapper div{
	display: inline-block;
}
.sub-bold {
	font-weight: bold;
}
#mypage_point_own {
	font-size: 20px;
	font-weight: bold;
	width: 130px;
	text-align: right;
	color: #90312b;
}
.mypage_point_text {
	font-size: 18px;
}

.mypage_point_unit {
	font-size: 18px;
	margin-left: 15px;
}
.mypage_card-wrapper {
	height: 60px;
	line-height: 60px;
}
.mypage_card-wrapper button {
	width: 100px;
	height: 40px;
	border: 0;
	text-align: center;
	float: right;
	right: 24px;
	background-color: #90312B;
	color: #FFF;
	line-height: 40px;
}

.cms-bankinput {
	width: 450px;
    line-height: 30px;
    font-size: 16px;
	margin-left: 120px;
}
.cms-bankinput button {
	width: 105px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 4px;
	font-size: 12px;
}
.mypage_bank-wrapper, .mypage_address-wrapper, .mypage_cms-wrapper {
	width: 570px;
    margin-left: 200px;
    margin-bottom: 200px;
}
.bank-input, .cms-input{
	width: 570px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
}
.bank-input input, .cms-input input {
	float: right;
    display: inline-block;
    width: 450px;
    line-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
	border: none;
	border-bottom: 1px solid #ccc;
}
.bank-button, .cms-button {
	width: 100px;
    height: 40px;
    border: 0;
    text-align: center;
    float: right;
    right: 24px;
    background-color: #90312B;
    color: #FFF;
}
.mypage_code-wrapper {
	width: 570px;
    margin-left: 200px;
    margin-bottom: 200px;
}
.code-input{
	width: 570px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
	margin-top: 30px;
}

.code-mycode {
	width: 570px;
	height: 60px;
	font-size: 18px;
	text-align: center;
}
.code-input input {
	float: right;
    display: inline-block;
    width: 450px;
    line-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
	border: none;
	border-bottom: 1px solid #ccc;
}
.code-button {
	width: 100px;
    height: 40px;
    border: 0;
    text-align: center;
    float: right;
    right: 24px;
    background-color: #90312B;
    color: #FFF;
}

#code-copy {
	position: relative;
	left: 50px;
	background: #999;
	display: inline-block;
	width: 130px;
	color: white;
	height: 35px;
	line-height: 2.5;
	font-size: 15px;
	cursor: pointer;
}
#code-gene {
	position: relative;
	left: 50px;
	background: #999;
	display: none;
	width: 130px;
	color: white;
	height: 35px;
	line-height: 2.5;
	font-size: 15px;
	cursor: pointer;
}
.address-input {
	width: 570px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
}

.mypage-save {
	left: 42.5%;
	position: relative;
	top: 40px;
	cursor: pointer;
}

.mypage_sublink {
	color: #999;
	position: relative;
	top: 10px;
}
.address-input input {
	float: right;
    display: inline-block;
    width: 450px;
    line-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
	border: none;
	border-bottom: 1px solid #ccc;
	background-color: white;
}
.address-button {
	width: 120px;
    height: 40px;
    border: 0;
    text-align: center;
    float: right;
    right: 24px;
    background-color: #999;
    color: #FFF;
}
#mypage_addresspostcode {
	width: 290px;
    margin-right: 10px;
}

#mypage_mycode {
	position: relative;
	left: 40px;
	color: #90312B;
	font-weight: bold;
}
.address-button.postcode-button {
	margin-top: 6px;
    float: right;
    margin-left: 30px;
}



/******* 주문완료 ********/
.complete_title {
	text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 240px;
    height: 30px;
    line-height: 30px;
}
.complete_subtitle {
	text-align: center;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
	margin-bottom: 30px;
}
.complete_button_wrapper {
	text-align: center;
	margin-bottom: 240px;
}
.complete_button{
	width: 100px;
	height: 40px;
	border: 0;
	font-weight: 14px;
	text-align: center;
	background-color: #90312B;
    color: #FFF;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}



/********* 이벤트 ********/
.nav_event {
	/**** display: none !important; *****/
}
#event_fluid {
	height: 180px;
	border-bottom: 1px solid #CCC;
	overflow: hidden;
}
.event_image_review {
}
.event_image_recommend, .event_image_review, .event_image_jygday {
	cursor: pointer;
}
.event_banner_top {
	margin-left: calc(50% - 1200px);
    height: 225px;
    width: 2400px;
	background-image: url("/img/event/jyg-event-banner-top.jpg");
}
.event_banner_title {
	font-size: 26px;
    position: absolute;
    top: 60px;
    width: 100%;
    text-align: center;
}
.event_banner_text {
	font-size: 14px;
    position: absolute;
    top: 105px;
    width: 100%;
    text-align: center;
}
.event_image-wrapper {
	margin-top: 100px;
}
.event_button-wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
}
.event_button-wrapper img{
	cursor: pointer;
}
.event_image {
	margin-top: 10px;
	width: 100%;
	height: auto;
}

#eventdetail_fluid {
	border-bottom: 1px solid #CCC;
    overflow: hidden;
}
.event-cgrey {
	background-color: #EAE6E1;
}
.event-detailflag {
	font-size: 12px;
	line-height: 30px;
	display: block;
	width: 1170px;
	margin-left: calc(50% - 585px);
}
.event-detailtop {
	width: 570px;
	margin-left: calc(50% - 285px);
}
.event-detailbody {
	width: 770px;
	margin-left: calc(50% - 385px);
}

/******* 고객센터 *****/
.support_divider {
	border-left: 1px solid #CCC;
	left: -15px;
}
.support_notice_menu, .support_ask_menu {
}
.support_notice_submenu, .support_faq_submenu {
	display: none;
}
.support_faq_submenu {
	border: 0;
}
.support_faq_category {
	display: none;
	height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #777777;
    border-bottom: 0;
}
.support_faq_category.last {
	border-bottom: 1px solid #EEE;
	height: 40px;
}
#support_faq_category {
	margin-left: 10px;
}
#support_ask {
	min-height: 420px;
}
#support_notice {
	min-height: 420px;
	display: none;
}
#support_faq {
	min-height: 420px;
	display: none;
}
.support_faq-wrapper {
	border-top: 1px solid #CCC;
}
.support_faq-box {
	border-bottom: 1px solid #CCC;
}
.support_faq-question {
	cursor: pointer;
}
.support_faq-question span {
	font-size: 14px;
    color: #333333;
    line-height: 30px;
    text-align: left;
    font-weight: 600;
    display: inline-block;
    width: calc(100% - 195px);
    margin-top: 15px;
    margin-bottom: 15px;
}
.support_faq-answer {
	display: none;
}
.support_faq-answer span {
	display: inline-block;
    font-size: 14px;
    color: #333333;
    line-height: 40px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
	width: 690px;
}
.support_faq-icon {
	margin-left: 50px;
    margin-right: 50px;
	vertical-align: top;
	margin-top: 10px;
	margin-bottom: 10px;
}
.support_faq-plus, .support_faq-minus {
	width: 20px;
	height: 20px;
	margin-top: 20px;
	margin-right: 20px;
	vertical-align: top;
	float: right;
}
.support_faq-minus {
	display: none;
}



#support_menu {
	height: 180px;
	border-bottom: 1px solid #CCC;
}
#support_welcome {
	margin-top: 60px;
	font-size: 16px;
	line-height: 30px;
	height: 30px;
	font-weight: bold;
	text-align: center;
}
.support_menu-wrapper {
	text-align: center;
	height: 30px;
	margin-top: 30px;
}
.support_menu-wrapper div {
	text-align: center;
	line-height: 30px;
	height: 30px;
	font-size: 14px;
	cursor: pointer;
	display: inline-block;
	width: 100px;
}
.support_menu_notice {
	margin-right: 30px;
}
/** 임시조치 **/
.support_menu_notice {
	display: none;
}
/** 임시조치 **/
.support_title {
	margin-left: 0px;
}
.support_card-wrapper {
	height: 60px;
	line-height: 60px;
}
#support_ask_table thead td{
	vertical-align: bottom;
	text-align: center;
}
#support_ask_table tbody td{
	vertical-align: middle;
	text-align: center;
}
#support_notice_table thead td{
	vertical-align: bottom;
	text-align: center;
}
#support_notice_table tbody td{
	vertical-align: middle;
	text-align: center;
}
.reply-wrapper {
	overflow: auto;
}
#support_question_btn {
	display: none;
	width: 100px;
	height: 40px;
	border: 0;
	text-align: center;
	float: right;
	right: 24px;
	background-color: #90312B;
	color: #FFF;
	line-height: 40px;
	margin-top: -80px;
}
.reply_content {
	margin-left: 24px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
	margin-bottom: 10px;
}
.reply_content div {
	float: right;
    font-weight: normal;
    width: 400px;
    padding-right: 24px;
	word-break: break-word;
	white-space: pre-line;
}

.questionForm {
	top: 30px;
	left: 16.5%;
}

.questionText {
	margin-top: 5%;
}
.aboutus_image {
	margin-top: 90px;
}
.aboutimg {
	position: relative;
	top: 90px;
}
#record_goods_table {
	margin-left: 36px;
	width: 90%;
}

#record_goods_table thead tr th {
	text-align: center;
}

#record_goods_table tbody tr td {
	text-align: center;
	vertical-align: middle;
}

#record_goods_table tbody tr td:nth-child(1) {
	text-align: left;
}


#sidebar-shadow {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	z-index: 1500;
	display: none;
}


.sidebar_active {
	display: block;
    
    -webkit-animation: slide-left .3s ease-out;
    -moz-animation: slide-left .3s ease-out;
}


@-webkit-keyframes slide-left {
      0% { opacity: 0; -webkit-transform: translateX(100%); }   
    100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes slide-left {
      0% { opacity: 0; -moz-transform: translateX(100%); }   
    100% { opacity: 1; -moz-transform: translateX(0); }
}
/*******  dialog 리뷰  ********/
.dialog_review-close {
	border-bottom: 2px solid #90312B;
	height: 50px;
}
.dialog_review-close img {
	margin-top: 5px;
}
.dialog_review-name {
	display: inline-block;
    width: calc(100% - 80px);
    height: 50px;
    vertical-align: top;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #333333;
    font-weight: 600;
}
.dialog_review-title {
	height: 50px;
    background-color: #EBE7E0;
    margin-left: -100px;
    margin-right: -100px;
    border-bottom: 1px solid #dddddd;
    color: #333333;
    font-size: 14px;
    padding-left: 30px;
    line-height: 50px;
    font-weight: 500;
}
.dialog_review-writer {
	height: 50px;
    background-color: #FFFFFF;
    margin-left: -100px;
    margin-right: -100px;
    border-bottom: 1px solid #dddddd;
    color: #333333;
    font-size: 14px;
    padding-left: 30px;
    line-height: 50px;
    font-weight: 500;
}
.dialog_review-content {
	height: 487px;
    margin-left: -100px;
    margin-right: -100px;
	overflow-y: scroll;
	border-bottom: 1px solid #dddddd;
}
.dialog_review-control {
	display: none;
	height: 100px;
    margin-left: -100px;
    margin-right: -100px;
}


/****** 인스타 리뷰 *********/
.instaList_Arrow-wrapper {
	position: absolute;
	width: 1140px;
	margin-top: 158px;
	cursor: pointer;
}
.instaList_Arrow-left, .instaList_Arrow-right {
	width: 70px;
	height: 70px;
}
.instaList_Arrow-left {
}
.instaList_Arrow-right {
	float: right;
}
#instaReview {
	margin-top: 110px;
}

#instaReview button {
	border: none;
	background: white;
	font-size: 40px;
	color: #ccc;
}

.mySlides {
	position: relative;
	left: 70px;
	width: 1030px;
	-webkit-animation: fadeEffect 0.5s;
    animation: fadeEffect 0.5s;
}


@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


.instaImage {
	width: 200px;
	padding: 5px;
	cursor: pointer;
	display: inline-block;
}

.instaImage img {
	height: 183px;
}


/*******  리뷰  ********/
#reviewlist {
	margin-top: 50px;
}
.card-list {
	height: 30px;
	border-bottom: 1px solid #ccc;
}
.card-list span {
	display: inline-block;
	text-align: center;
}
.card {
  	display: block;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    border-bottom: 1px solid #ccc;
	height: 100px;
}
.card-aa {
	position: absolute;
	left: 43%;
	top:40px;
}
.card-number {
	position: absolute;
	left: 6.3%;
	top: 40px;
}
.card-category {
	display: inline-block;
	position: absolute;
	width: 7%;
	top: 40px;
	left: 30.5%;
}
.card img {
	position:absolute;
	top: 9px;
	left: 15.2%;
}
.img-card {
  	width: 100%;
  	border-top-left-radius:2px;
  	border-top-right-radius:2px;
  	display:block;
    overflow: hidden;
}
.img-card img{
	height: 250px;
  	width: 100%;
}
.card-content {
	padding:15px;
	margin-top: -20px;
  	text-align:left;
}
.card-list span {
	font-weight: 700;
}
.card-title {
	margin-top:0px;
  	font-size: 1em;
	position:absolute;
	right: 5.7%;
	top: 40px;
}
.card-writer {
	position: absolute;
	right: 18.8%;
	top: 40px;
}
.card-post {
	width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal !important;
    display: block;
	margin-top: 10px;
}
/**
.modal-header {
	border-bottom: 2px solid #90312b;
}
.modal-body {
	padding: 0px;
}
.modal-title {
	font-weight: bold;
	line-height: 1.1;
	text-align: center;
}
.modal-content {
	border-radius: 0px;
}**/
.body-top {
	background-color: #ebe7e0;
	font-weight: bold;
	padding: 20px;
}
.body-second {
	padding: 20px;
	font-weight: bold;
}
.modal-trigger {
	border: none;
	background-color: white;
	padding: 0px;
	width: 100%;
	height: 100px;
}
/**
.modal-body > iframe {
	width: 100%;
	height: 670px;
}
**/
.modal-trigger:focus,.modal-trigger:active {
   outline: none !important;
}
#filters {
	margin-top: 70px;
}
#filters li {
	float: left;
	list-style: none;
	margin-right: 20px;
	margin-bottom: 20px;
}
.checkbox {
	float: left;
	margin-right: 20px;
}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
	margin-top: 200px;
}
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
div.tab button:hover {
    background-color: #ddd;
}
div.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


/*******  이벤트배너 ********/

#event_banner {
	width: 100%;
	background-color: #90312B;
	height: 50px;
	text-align: center;
	box-shadow: 1px 1px 10px 1px #888888;
}

#event_banner .text_banner {
	line-height: 50px;
	color: #FFFFFF;
}
#event_banner .text_banner a{
	line-height: 50px;
	color: #FFFFFF;
}

#event_banner #close_banner:before { 
	content:"\00d7";
	color: #FFFFFF;
	position: relative;
	left: 35%;
	font-size: 30px;
	top: 5px;
	cursor: pointer;
}


/******** 리뷰작성 **********/
#myModal .modal-dialog {
	width: 700px;
}
#write_review {
	cursor: pointer;
}
.img-progress {
	width: 100%;
}
#holder {
	border: 1px dashed #ccc;
    width: 520px;
    height: 220px;
    margin: 10px 10px 30px 120px;
}
.img_container { 
  border: 0px;
  display:none;
  margin:auto;
}
.filebox {
	display: inline-block;
	margin-left: 20px;
}
.filebox input[type="file"] { 
	position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
} 
.filebox label { 
	display: inline-block; 
	padding: .5em .75em; 
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
	margin-top: 5px;
}
.filebox .upload-name {
	display: inline-block; 
	padding: .5em .75em;
	font-size: inherit; 
	font-family: inherit; 
	line-height: normal; 
	vertical-align: middle; 
	background-color: #f5f5f5; 
	border: 1px solid #ebebeb; 
	border-bottom-color: #e2e2e2; 
	border-radius: .25em; 
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


/*********  공지사항  ********/
.noticedetail-line {
	height: 40px;
}
.noticedetail-wrapper {
	margin-top: 90px;
}
.noticedetail-flag {
	font-size: 12px;
    color: #999999;
    height: 45px;
    line-height: 45px;
}
.noticedetail-name {
	margin-top: 40px;
}
.noticedetail-name_large {
	display: inline-block;
    height: 40px;
    font-size: 26px;
    color: #333333;
    font-weight: 600;
}
.noticedetail-name_small {
	margin-left: 20px;
    color: #666666;
    font-size: 14px;
}
.noticedetail-title {
	margin-top: 20px;
    height: 50px;
    border-top: 2px solid #90312B;
    background-color: #EBE7E0;
    line-height: 50px;
    padding-left: 30px;
    font-size: 14px;
    color: #333333;
    font-weight: 600;
    border-bottom: 1px solid #EBE7E0;
}
.noticedetail-writer {
	height: 50px;
    line-height: 50px;
    padding-left: 30px;
    color: #333333;
    font-size: 14px;
    font-weight: 600;
	border-bottom: 1px solid #EBE7E0;
}
.noticedetail-content {
	min-height: 400px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.noticedetail-control {
	height: 1px;
	border-bottom: 1px solid #EBE7E0;
}
.noticedetail-back {
	text-align: center;
}
.noticedetail-back img{
	margin-top: 50px;
	width: 100px;
	height: 100px;
	cursor: pointer;
}