<b>개인정보취급방침</b><br>
<br>
1. 총칙<br>
정육각는 이용자들의 개인정보보호를 매우 중요시하며, 이용자가 회사의 서비스를 이용함과 동시에 온라인상에서 회사에 제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다. 이에 정육각는 통신비밀보호법, 전기통신사업법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 정보통신서비스제공자가 준수하여야 할 관련 법규상의 개인정보보호 규정 및 정보통신부가 제정한 개인정보보호지침을 준수하고 있습니다.<br>
정육각는 개인정보 취급방침을 통하여 이용자들이 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려 드립니다.<br>
정육각의 개인정보 취급방침은 정부의 법률 및 지침 변경이나 정육각의 내부 방침 변경 등으로 인하여 수시로 변경될 수 있고, 이에 따른 개인정보 취급방침의 지속적인 개선을 위하여 필요한 절차를 정하고 있습니다. 그리고 개인정보 취급방침을 개정하는 경우나 개인정보 취급방침 변경될 경우 쇼핑몰의 첫 페이지의 개인정보취급방침을 통해 고지하고 있습니다. 이용자들께서는 사이트 방문 시 수시로 확인하시기 바랍니다.<br>
<br>
2. 개인정보 수집에 대한 동의<br>
정육각은 귀하께서 정육각의 개인정보보호방침 또는 이용약관의 내용에 대해 「동의합니다」버튼 또는 「동의하지 않습니다」버튼을 클릭할 수 있는 절차를 마련하여, 「동의합니다」버튼을 클릭하면 개인정보 수집에 대해 동의한 것으로 봅니다.<br>
<br>
3. 개인정보의 수집목적 및 이용목적<br>
"개인정보"라 함은 생존하는 개인에 관한 정보로서 당해 정보에 포함되어 있는 성명, 휴대폰번호 등의 사항에 의하여 당해 개인을 식별할 수 있는 정보(당해 정보만으로는 특정 개인을 식별할 수 없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함)를 말합니다.<br>
대부분의 서비스는 별도의 사용자 등록이 없이 언제든지 사용할 수 있습니다. 그러나 정육각는 회원서비스를 통하여 이용자들에게 맞춤식 서비스를 비롯한 보다 더 향상된 양질의 서비스를 제공하기 위하여 다음과 같은 목적으로 이용자 개인의 정보를 수집 · 이용하고 있습니다.<br>
<br>
- 성명, 아이디, 비밀번호, 닉네임 : 회원제 서비스 이용에 따른 본인 확인 절차에 이용<br>
- 이메일, 휴대폰번호 : 고지사항 전달, 불만처리 등을 위한 원활한 의사소통 경로의 확보, 새로운 서비스 및 신상품이나 이벤트 정보 등의 안내<br>
- 주소, 전화번호 : 청구서, 물품배송 시 정확한 배송지의 확보<br>
- 기타 선택항목(직업, 관심분야, 관심분류) : 개인맞춤 서비스를 제공하기 위한 자료<br>
- IP Address : 불량회원의 부정 이용 방지와 비인가 사용 방지<br>
기타 위 수집된 정보를 이용하여 서비스 제공에 관한 계약이행 및 요금정산, 회원관리, 마케팅 및 광고에 활용하고 있습니다.<br>
<br>
<br>
정육각 계정 등록 여부에 관계없이, 귀하가 정육각 서비스를 이용할 때에는, 다음에 예시된 정보가 수됩니다.<br>
예시된 정보는 개인을 식별하기 위한 용도가 아닌 개인을 구별할 수 없게 처리된 상태에서 서비스상 통계 및 전략에 활용됩니다.<br>
<br>
인터넷 프로토콜 주소<br>
검색어 등 이용자가 정육각 서비스를 사용하면서 입력한 정보<br>
기기의 하드웨어 모델<br>
기기의 운영체제 버전<br>
고유 기기 식별자<br>
다운, 시스템 활동, 하드웨어 설정, 브라우저 유형, 브라우저 언어, 요청 날짜 및 시간, 참조 URL 등 기기 이벤트에 관한 정보<br>
사용자의 브라우저 또는 정육각 계정을 고유하게 식별할 수 있는 쿠키<br>
<br>
4. 수집하는 개인정보 항목 및 수집방법<br>
정육각는 이용자들이 회원서비스를 이용하기 위해 회원으로 가입하실 때 서비스 제공을 위한 필수적인 정보들을 온라인상에서 입력 받고 있습니다. <br>
<회원가입>
아이디, 비밀번호, 이름, 닉네임, 성별, 생년월일, 이메일, 주소, 핸드폰번호, 전화번호<br>
또한 쇼핑몰 내에서의 설문조사나 이벤트 행사 시 통계분석이나 경품제공 등을 위해 선별적으로 개인정보 입력을 요청할 수 있습니다.<br>
그러나, 이용자의 기본적 인권 침해의 우려가 있는 민감한 개인정보(인종 및 민족, 사상 및 신조, 출신지 및 본적지, 정치적 성향 및 범죄기록, 건강상태 및 성생활 등)는 수집하지 않으며 부득이하게 수집해야 할 경우 이용자들의 사전동의를 반드시 구할 것입니다. 그리고, 어떤 경우에라도 입력하신 정보를 이용자들에게 사전에 밝힌 목적 이외에 다른 목적으로는 사용하지 않으며 이용자의 사전 동의 없이는 이용자의 개인 정보를 외부에로 공개 · 유출하지 않습니다.<br>
<br>
5. 비회원의 고객 개인정보 보호<br>
정육각는 비회원 고객 또한 물품 및 서비스 상품의 구매를 하실 수 있도록 하고 있습니다. 정육각는 비회원 주문의 경우 배송 및 대금 결제, 상품 배송에 반드시 필요한 개인정보만을 이용자에게 요청하고 있습니다.<br>
정육각에서 비회원으로 구입을 하신 경우 비회원 이용자가 입력한 지불인 정보 및 수령인 정보는 대금 결제 및 상품 배송에 관련한 용도 외에는 다른 어떠한 용도로도 사용되지 않습니다.<br>
<br>
6. 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항<br>
정육각는 이용자들에게 특화된 맞춤서비스를 제공하기 위해서 이용자의 정보를 저장하고 수시로 불러오는 세션(session)방식을 사용하고 있습니다. <br>
- 세션이란? <br>
세션은 쇼핑몰을 운영하는데 이용되는 서버가 이용자의 로그인 시간 동안에 이용자의 정보를 서버에 저장합니다. 세션정보는 이용자가 로그아웃 시 자동으로 삭제됩니다.<br>
- 세션의 설치/운영 및 거부 <br>
이용자는 세션 설치에 대한 선택권을 가지고 있지 않습니다. 로그인이 필요한 서비스의 경우 쇼핑몰 운영 서버에서 자동으로 세션이 생성됩니다.<br>
<br>
7. 수집한 개인정보 공유 및 제공<br>
정육각는 이용자들의 개인정보를 "3. 개인정보의 수집목적 및 이용목적"에서 고지한 범위 내에서만 사용하며, 이용자의 사전 동의 없이는 동 범위를 초과하여 이용하거나 이용자의 개인정보를 외부에 공개하지 않습니다. <br>
다만, 아래의 경우에는 예외로 합니다.<br>
<br>
- 이용자들이 사전에 공개에 동의한 경우<br>
- 서비스 제공에 관한 계약을 이행하기 위하여 필요한 개인정보로서 경제적 · 기술적인 사유로 통상적인 동의를 받는 것이 뚜렷하게 곤란한 경우<br>
- 서비스 제공에 따른 요금정산을 위하여 필요한 경우<br>
- 자사 서비스를 이용하여 타인에게 정신적, 물질적 피해를 줌으로써 그에 대한 법적인 조치를 취하기 위하여 개인정보를 공개해야 한다고 판단되는 충분한 근거가 있는 경우<br>
- 기타 법에 의해 요구된다고 판단되는 경우 (ex. 관련법에 의거 적법한 절차에 의한 정부/수사기관의 요청이 있는 경우 등)<br>
- 통계작성, 학술연구나 시장조사를 위하여 특정개인을 식별할 수 없는 형태로 광고주, 협력업체나 연구단체 등에 제공하는 경우<br>
<br>
8. 개인정보의 열람, 정정, 삭제<br>
이용자가 원할 경우 언제라도 정육각에서 개인정보를 열람하실 수 있으며 보관된 필수 정보를 수정하실 수 있습니다.<br>
또한 회원 가입 시 요구된 필수 정보 외의 추가 정보는 언제나 열람, 수정, 삭제할 수 있습니다.<br>
이용자의 개인정보 변경 및 삭제와 회원탈퇴는 당사의 고객센터에서 로그인(Login) 후 이용하실 수 있습니다.<br>
<br>
9. 개인정보의 보유기간 및 이용기간<br>
이용자가 쇼핑몰 회원으로서 회사에 제공하는 서비스를 이용하는 동안 정육각는 이용자들의 개인정보를 계속적으로 보유하며 서비스 제공 등을 위해 이용합니다. 다만, 위 "8. 개인정보의 열람, 정정, 삭제" 에서 설명한 절차와 방법에 따라 이용자 본인이 직접 삭제하거나 수정한 정보, 가입해지를 요청한 경우에는 재생할 수 없는 방법에 의하여 디스크에서 완전히 삭제하며 추후 열람이나 이용이 불가능한 상태로 처리됩니다.<br>
그리고 "4. 수집하는 개인정보 항목 및 수집방법" 에서와 같이 일시적인 목적 (설문조사, 이벤트, 본인확인 등)으로 입력 받은 개인정보는 그 목적이 달성된 이후에는 동일한 방법으로 사후 재생이 불가능한 상태로 처리됩니다.<br>
이용자의 개인정보는 다음과 같이 개인정보의 수집목적 또는 제공받은 목적이 달성되면 파기하는 것을 원칙으로 합니다. <br>
그리고 상법, 전자상거래 등에서의 소비자보호에 관한 법률 등 관계법령의 규정에 의하여 보존할 필요가 있는 경우 정육각는 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다. 이 경우 정육각는 보관하는 정보를 그 보관의 목적으로만 이용하며 보존기간은 아래와 같습니다.<br>
<br>
- 계약 또는 청약철회 등에 관한 기록 : 5년<br>
- 대금결제 및 재화 등의 공급에 관한 기록 : 5년<br>
- 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년<br>
<br>
정육각는 귀중한 이용자의 개인정보를 안전하게 처리하며, 유출의 방지를 위하여 다음과 같은 방법을 통하여 개인정보를 파기합니다.<br>
종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다. 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.<br>
<br>
10. 게시물 보호<br>
정육각은 이용자의 게시물을 소중하게 생각하며 변조, 훼손, 삭제되지 않도록 최선을 다하여 보호합니다. 그러나 다음의 경우는 그렇지 아니합니다. <br>
<br>
- 스팸(spam)성 게시물 (예 : 행운의 편지, 8억 메일, 특정사이트 광고 등) <br>
- 타인을 비방할 목적으로 허위 사실을 유포하여 타인의 명예를 훼손하는 글 <br>
- 타인의 저작권 등 권리를 침해하는 내용, 기타 게시판 주제와 다른 내용의 게시물 <br>
- 정육각는 바람직한 게시판 문화를 활성화하기 위하여 동의 없는 타인의 신상 공개시 특정부분을 삭제하거나 기호 등으로 수정하여 게시할 수 있습니다. <br>
- 다른 주제의 게시판으로 이동 가능한 내용일 경우 해당 게시물에 이동 경로를 밝혀 오해가 없도록 하고 있습니다. <br>
- 그 외의 경우 명시적 또는 개별적인 경고 후 삭제 조치할 수 있습니다. <br>
<br>
근본적으로 게시물에 관련된 제반 권리와 책임은 작성자 개인에게 있습니다. 또 게시물을 통해 자발적으로 공개된 정보는 보호받기 어려우므로 정보 공개 전에 심사숙고 하시기 바랍니다.<br>
<br>
11. 수집한 개인정보의 위탁<br>
정육각는 서비스 향상을 위해서 귀하의 개인정보를 필요한 경우 동의 등 법률상의 요건을 구비하여 외부에 수집 · 취급 · 관리 등을 위탁하여 처리할 있으며, 제 3자에게 제공할 수 있습니다.<br>
정육각는 개인정보의 처리와 관련하여 아래와 같이 업무를 위탁하고 있으며, 관계 법령에 따라 위탁계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 사항을 규정하고 있습니다. 또한 공유하는 정보는 당해 목적을 달성하기 위하여 필요한 최소한의 정보에 국한됩니다.<br>
<br>
위탁 대상자 : [KICC]<br>
위탁업무 내용 : [결제처리]<br>
<br>
위탁 대상자 : [NICEPAY]<br>
위탁업무 내용 : [결제처리]<br>
<br>
위탁 대상자 : [우체국 택배]<br>
위탁업무 내용 : [상품배송]<br>
<br>
위탁 대상자 : [카카오톡]<br>
위탁업무 내용 : [결제 및 주문 정보 전송]<br>
<br>
<br>
위탁 대상자 : [누리고]<br>
위탁업무 내용 : [결제 및 주문 정보 전송]<br>
<br>
다만, 아래의 경우에는 예외로 합니다.<br>
- 이용자들이 사전에 동의한 경우<br>
- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우<br>
- 개인정보의 처리를 위탁하거나 제공하는 경우에는 수탁자, 수탁범위, 공유 정보의 범위 등에 관한 사항을 서면, 전자우편, 전화 또는 홈페이지를 통해 미리 이용자에게 고지합니다<br>
<br>
<br>
해외위탁 대상자 : [Google]<br>
위탁업무 내용 : [Google Clound Service를 통한 시스템 관리]<br>
Google Cloud Service 및 Firebase Service는 이용자 정보에 접근할 수 없으며, 서비스 제공을 위한 클라우드 컴퓨팅 환경만 제공<br>
<br>


<br>
12. 이용자의 권리와 의무<br>
이용자의 개인정보를 최신의 상태로 정확하게 입력하여 불의의 사고를 예방해 주시기 바랍니다. 이용자가 입력한 부정확한 정보로 인해 발생하는 사고의 책임은 이용자 자신에게 있으며 타인 정보의 도용 등 허위정보를 입력할 경우 회원자격이 상실될 수 있습니다. <br>
이용자는 개인정보를 보호받을 권리와 함께 스스로를 보호하고 타인의 정보를 침해하지 않을 의무도 가지고 있습니다. 비밀번호를 포함한 이용자의 개인정보가 유출되지 않도록 조심하시고 게시물을 포함한 타인의 개인정보를 훼손하지 않도록 유의해 주십시오. <br>
만약 이 같은 책임을 다하지 못하고 타인의 정보 및 존엄성을 훼손할 시에는 『정보통신망이용촉진 및 정보보호 등에 관한 법률』등에 의해 처벌 받을 수 있습니다.<br>
<br>
13. 개인정보 관련 의견수렴 및 불만처리에 관한 사항<br>
정육각는 개인정보보호와 관련하여 이용자 여러분들의 의견을 수렴하고 있으며 불만을 처리하기 위하여 모든 절차와 방법을 마련하고 있습니다. <br>
이용자들은 하단에 명시한 "14. 개인정보관리 책임자 및 담당자" 항을 참고하여 전화나 메일을 통하여 불만사항을 신고할 수 있고, 당사는 이용자들의 신고사항에 대하여 신속하고도 충분한 답변을 해 드릴 것입니다.<br>
<br>
14. 개인정보관리 책임자 및 담당자<br>
정육각는 이용자가 좋은 정보를 안전하게 이용할 수 있도록 최선을 다하고 있습니다. 개인정보를 보호하는데 있어 이용자에게 고지한 사항들에 반하는 사고가 발생할 경우 개인정보관리책임자가 책임을 집니다.<br>
그러나 기술적 · 관리적 보완조치를 했음에도 불구하고, 해킹 등 기본적인 네트워크상의 위험성에 의해 발생하는 예기치 못한 사고로 인한 정보의 훼손 및 방문자가 작성한 게시물에 의한 각종 분쟁에 관해서는 정육각의 책임이 없습니다. 또한 이용자 개인정보와 관련한 아이디(ID)의 비밀번호에 대한 보안유지책임은 해당 이용자 자신에게 있습니다.<br>
정육각는 비밀번호에 대해 어떠한 방법으로도 이용자에게 직접적으로 질문하는 경우는 없으므로 타인에게 비밀번호가 유출되지 않도록 각별히 주의하시기 바랍니다.<br>
특히 공공장소의 온라인상에서 접속해 있을 경우에는 더욱 유의하셔야 합니다.<br>
정육각는 개인정보에 대한 의견수렴 및 불만처리를 담당하는 개인정보 관리책임자 및 담당자를 지정하고 있고, 연락처는 아래와 같습니다.<br>
<br>
이 름 : 김환민<br>
소속 / 직위　: COO<br>
E - M A I L　 : help@yookgak.com<br>
전 화 번 호　: 1800-0658<br>
<br>
15. 아동의 개인정보보호<br>
정육각는 온라인 환경에서 만 14세 미만 어린이의 개인정보를 보호하는 것 역시 중요한 일이라고 생각하고 있습니다. <br>
정육각는 만 14세 미만의 어린이들은 회원으로 가입할 수 없게 하고 있습니다. 즉, 만 14세 미만의 어린이들은 정육각에서 회원 자격의 서비스를 받을 수 없습니다.<br>
<br>
15. 고지의 의무<br>
현 개인정보취급방침의 내용은 정부의 정책 또는 보안기술의 변경에 따라 내용의 추가 삭제 및 수정이 있을 시에는 홈페이지의 '공지사항'을 통해 고지할 것입니다.<br>
<br>
개인정보취급방침 시행일자: 2016-02-22<br>
개인정보취급방침 변경일자: 2016-02-22<br>
<br><br><br>